---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-creative
  namespace: gaming
spec:
  interval: 30m
  timeout: 15m
  chart:
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      minecraft-creative:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: itzg/minecraft-server
              tag: 2025.10.2-java21
            resources:
              requests:
                cpu: 100m
                memory: 4Gi
              limits:
                memory: 8Gi
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: true
              capabilities:
                drop: ["ALL"]
                add: ["NET_RAW"]
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            env:
              TZ: ${TIMEZONE}
              MEMORY: "4096M"
              EULA: "TRUE"
              TYPE: "FABRIC"
              VERSION: "1.21.8"
              MODRINTH_ALLOWED_VERSION_TYPE: "release"
              MODRINTH_DOWNLOAD_DEPENDENCIES: "required"
              ENABLE_ROLLING_LOGS: true
              MODE: "creative"
              DIFFICULTY: "peaceful"
              SERVER_NAME: "Creative Land"
              MAX_PLAYERS: "8"
              GENERATE_STRUCTURES: "false"
              OVERRIDE_SERVER_PROPERTIES: "true"
              ENABLE_RCON: "true"
              SYNC_CHUNK_WRITES: "true"
              OPS: |
                Spiceratops
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
    service:
      app:
        controller: minecraft-creative
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          external-dns.alpha.kubernetes.io/hostname: minecraft-creative.${SECRET_DOMAIN}
          lbipam.cilium.io/ips: ${MINECRAFT_CREATIVE_LB_IP}
        ports:
          minecraft:
            enabled: true
            primary: true
            port: 25565
            protocol: TCP
    persistence:
      data:
        existingClaim: nfs-games
        globalMounts:
          - path: /data
            subPath: gameservers/minecraft-creative
      tmp:
        enabled: true
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp
            readOnly: false
