---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: nvidia-device-plugin
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.18.0
  url: oci://ghcr.io/home-operations/charts-mirror/nvidia-device-plugin
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nvidia-device-plugin
  namespace: kube-system
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: nvidia-device-plugin
  values:
    image:
      repository: nvcr.io/nvidia/k8s-device-plugin
      tag: v0.18.1
    runtimeClassName: nvidia
    nodeSelector:
      nvidia.feature.node.kubernetes.io/gpu: "true"
    gfd:
      enabled: true
      nameOverride: gpu-feature-discovery
      noTimestamp: null
      sleepInterval: null
      securityContext:
        privileged: true
    nfd:
      enabled: false
    config:
      map:
        default: |-
          version: v1
          flags:
            migStrategy: none
          sharing:
            timeSlicing:
              renameByDefault: false
              failRequestsGreaterThanOne: false
              resources:
                - name: nvidia.com/gpu
                  replicas: 6
