---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: piped
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: piped-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        PGDATABASE: piped
        PGHOST: &dbHost postgres-rw.databases.svc.cluster.local
        PGUSER: &dbUser "{{ .PIPED_POSTGRES_USER }}"
        PGPASSWORD: &dbPass "{{ .PIPED_POSTGRES_PASS }}"
        config.properties: |
          API_URL: https://piped-api.${SECRET_DOMAIN_INTERNAL}
          COMPROMISED_PASSWORD_CHECK: true
          DISABLE_REGISTRATION: true
          FEED_RETENTION: 30
          FRONTEND_URL: https://piped.${SECRET_DOMAIN_INTERNAL}
          HTTP_WORKERS: 4
          MATRIX_SERVER: https://matrix-client.matrix.org
          PORT: 8080
          PROXY_PART: https://piped-proxy.${SECRET_DOMAIN_INTERNAL}
          SENTRY_DSN:
          hibernate.connection.driver_class: org.postgresql.Driver
          hibernate.connection.url: jdbc:postgresql://postgres-rw.databases.svc.cluster.local:5432/piped
          hibernate.connection.username: {{ .PIPED_POSTGRES_USER }}
          hibernate.connection.password: {{ .PIPED_POSTGRES_PASS }}
        # Postgres Init
        INIT_POSTGRES_DBNAME: piped
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: piped
    - extract:
        key: cloudnative-pg
