---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: piped
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      backend:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: piped-secret

        containers:
          app:
            image:
              repository: 1337kavin/piped
              tag: latest@sha256:9ad2ed9ff568c40bfa50ea4bf07957f7bc2ae0768ce1f494f9fa99598f8c368b
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 2000Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault

      frontend:
        strategy: RollingUpdate

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/piped-frontend
              tag: 2025.3.17@sha256:8ed05c7df0bc8899e54a3952a99b63d55cdc7669d759beeb9370fbb32330468b
            env:
              BACKEND_HOSTNAME: piped-api.${SECRET_DOMAIN}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

      ytproxy:
        strategy: RollingUpdate

        containers:
          app:
            image:
              repository: 1337kavin/piped-proxy
              tag: latest@sha256:1938ce739c251ac7753ba9f79404e552f8d06cefd41a5f919938e85fb8d68fcd
            command:
              - /app/piped-proxy
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 2000Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault

      update-subscriptions:
        type: cronjob

        cronjob:
          schedule: "@daily"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 0

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/piped-scripts
              tag: 0.0.2@sha256:f954c8065473920415d316b16797f7c525838e629e8603bd227b33c671544149
            env:
              SCRIPT_NAME: update_subscriptions.sh
              PIPED_BACKEND: http://piped-backend.media.svc.cluster.local:8080
              MIN_SLEEP_BETWEEN_FEEDS: 30
              MAX_SLEEP_BETWEEN_FEEDS: 120
            envFrom:
              - secretRef:
                  name: piped-secret
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault

    service:
      backend:
        controller: backend
        ports:
          http:
            port: &port 8080
      frontend:
        controller: frontend
        ports:
          http:
            port: *port
      ytproxy:
        controller: ytproxy
        ports:
          http:
            port: *port

    route:
      backend:
        hostnames:
          - "piped-api.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: backend
                port: *port
            filters:
              - type: CORS
                cors:
                  allowOrigins:
                    - "https://piped.${SECRET_DOMAIN}"
                    - "https://piped-api.${SECRET_DOMAIN}"
                    - "https://piped-proxy.${SECRET_DOMAIN}"
                  allowMethods:
                    - GET
                    - POST
      frontend:
        hostnames:
          - "piped.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: frontend
                port: *port
            filters:
              - type: CORS
                cors:
                  allowOrigins:
                    - "https://piped.${SECRET_DOMAIN}"
                    - "https://piped-api.${SECRET_DOMAIN}"
                    - "https://piped-proxy.${SECRET_DOMAIN}"
                  allowMethods:
                    - GET
                    - POST
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: YT Proxy
          gethomepage.dev/group: The Internets
          gethomepage.dev/icon: youtube.png
          gethomepage.dev/name: YouTube
      ytproxy:
        hostnames:
          - "piped-proxy.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: ytproxy
                port: *port
            filters:
              - type: CORS
                cors:
                  allowOrigins:
                    - "https://piped.${SECRET_DOMAIN}"
                    - "https://piped-api.${SECRET_DOMAIN}"
                    - "https://piped-proxy.${SECRET_DOMAIN}"
                  allowMethods:
                    - GET
                    - POST

    persistence:
      config:
        type: secret
        name: piped-secret
        advancedMounts:
          backend:
            app:
              - path: /app/config.properties
                subPath: config.properties
                readOnly: true
