---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: piped
  namespace: media
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  driftDetection:
    mode: enabled

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      backend:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: piped-secret

        containers:
          app:
            image:
              repository: 1337kavin/piped
              tag: latest@sha256:1f38b992ce02a50afddbbf68be1ac11cff6953d36fd8fa2b98c08a19f8ef06e7
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 2000Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault

      frontend:
        strategy: RollingUpdate

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/piped-frontend
              tag: 2025.3.17@sha256:8ed05c7df0bc8899e54a3952a99b63d55cdc7669d759beeb9370fbb32330468b
            env:
              BACKEND_HOSTNAME: piped-api.${PRIVATE_DOMAIN}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true

      ytproxy:
        strategy: RollingUpdate

        containers:
          app:
            image:
              repository: 1337kavin/piped-proxy
              tag: latest@sha256:6084ba265c8ea3f6f407361457f14e74cb3b7425366bb25f630f44636ddae11b
            command:
              - /app/piped-proxy
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 2000Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault

      update-subscriptions:
        type: cronjob

        cronjob:
          schedule: "@daily"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 0

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/piped-scripts
              tag: 0.0.2@sha256:f954c8065473920415d316b16797f7c525838e629e8603bd227b33c671544149
            env:
              SCRIPT_NAME: update_subscriptions.sh
              PIPED_BACKEND: http://piped-backend.media.svc.cluster.local:8080
              MIN_SLEEP_BETWEEN_FEEDS: 30
              MAX_SLEEP_BETWEEN_FEEDS: 120
            envFrom:
              - secretRef:
                  name: piped-secret
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault

    service:
      backend:
        controller: backend
        ports:
          http:
            port: 8080
        ipFamilyPolicy: PreferDualStack
      frontend:
        controller: frontend
        ports:
          http:
            port: 8080
        ipFamilyPolicy: PreferDualStack
      ytproxy:
        controller: ytproxy
        ports:
          http:
            port: 8080
        ipFamilyPolicy: PreferDualStack

    ingress:
      backend:
        annotations:
          nginx.ingress.kubernetes.io/enable-cors: "true"
          nginx.ingress.kubernetes.io/cors-allow-origin: "https://piped.${PRIVATE_DOMAIN}, https://piped-api.${PRIVATE_DOMAIN}, https://piped-proxy.${PRIVATE_DOMAIN}"
        className: internal
        hosts:
          - host: piped-api.${PRIVATE_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: backend
                  port: http
      frontend:
        annotations:
          nginx.ingress.kubernetes.io/enable-cors: "true"
          nginx.ingress.kubernetes.io/cors-allow-origin: "https://piped.${PRIVATE_DOMAIN}, https://piped-api.${PRIVATE_DOMAIN}, https://piped-proxy.${PRIVATE_DOMAIN}"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: YT Proxy
          gethomepage.dev/group: Media
          gethomepage.dev/icon: youtube.png
          gethomepage.dev/name: Piped
        className: internal
        hosts:
          - host: piped.${PRIVATE_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: frontend
                  port: http
      ytproxy:
        annotations:
          nginx.ingress.kubernetes.io/enable-cors: "true"
          nginx.ingress.kubernetes.io/cors-allow-origin: "https://piped.${PRIVATE_DOMAIN}, https://piped-api.${PRIVATE_DOMAIN}, https://piped-proxy.${PRIVATE_DOMAIN}"
        className: internal
        hosts:
          - host: piped-proxy.${PRIVATE_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: ytproxy
                  port: http

    persistence:
      config:
        type: secret
        name: piped-secret
        advancedMounts:
          backend:
            app:
              - path: /app/config.properties
                subPath: config.properties
                readOnly: true
