---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m
  driftDetection:
    mode: enabled

  values:
    controllers:
      tdarr:
        containers:
          app:
            image:
              repository: haveagitgat/tdarr
              tag: 2.50.02@sha256:b4b7f2621db18c2878ac42ae8edafb50ce36f3ba84d6d16ac8500961b67688a7
            resources:
              requests:
                cpu: 50m
                memory: 256M
              limits:
                memory: 512M
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8265
      server:
        controller: *app
        type: LoadBalancer
        externalTrafficPolicy: Local
        ports:
          server:
            enabled: true
            protocol: TCP
            port: 8266
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.security.svc.cluster.local:9091/api/authz/auth-request
          nginx.ingress.kubernetes.io/auth-signin: https://auth.${SECRET_DOMAIN_INTERNAL}?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Media Encoding
          gethomepage.dev/group: Media
          gethomepage.dev/icon: tdarr.png
          gethomepage.dev/name: Tdarr
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
    persistence:
      config:
        enabled: true
        existingClaim: tdarr-config
        globalMounts:
          - path: /app/configs
      server:
        enabled: true
        existingClaim: tdarr-server
        globalMounts:
          - path: /app/server
      media:
        existingClaim: nfs-media
        globalMounts:
          - path: /media
