---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homebox
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      homebox:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/hay-kot/homebox
              tag: v0.10.3
            env:
              TZ: ${TIMEZONE}
              HBOX_LOG_LEVEL: info
              HBOX_LOG_FORMAT: text
              HBOX_WEB_MAX_UPLOAD_SIZE: "10"
    service:
      app:
        controller: homebox
        ports:
          http:
            port: 7745
    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /data
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: House Inventory
          gethomepage.dev/group: Home
          gethomepage.dev/icon: homebox.png
          gethomepage.dev/name: Homebox
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
