---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: ytdl-sub
data:
  config.yaml: |-
    configuration:
      working_directory: "/tmp/ytdl-sub"

    presets:

      ###############################################################################
      # Set tv_show_directory here instead of in the subscriptions file
      tv_show_paths:
        overrides:
          tv_show_directory: "/media/youtube"

      ###############################################################################
      # Filter out any YouTube shorts
      no_shorts:
        match_filters:
          filters:
            - "original_url!*=/shorts/"

      ###############################################################################
      # Remove all the following sponsorblock sections
      sponsorblock:
        chapters:
          sponsorblock_categories:
            - "outro"
            - "selfpromo"
            - "preview"
            - "interaction"
            - "sponsor"
            - "music_offtopic"
            - "intro"
          remove_sponsorblock_categories: "all"
          force_key_frames: False

      ###############################################################################
      # Wait 2 days before downloading in hopes to get more accurate sponsorblock
      sponsorblock_wait:
        # Import the sponsorblock preset defined above
        preset:
          - "sponsorblock"

        date_range:
          before: "today-7days"
          after: "20200101"

      ###############################################################################
      # base preset to use on all TV Show-based subscriptions
      base:
        preset:
          - "Jellyfin TV Show by Date"  # Set intended player
          - "best_video_quality"    # prebuilt preset to get best quality
          - "tv_show_paths"
          - "sponsorblock"
          - "no_shorts"

        # Embed chapters into video files
        chapters:
          embed_chapters: True
          allow_chapters_from_comments: False
          remove_chapters_regex:
            - "Intro"
            - "Outro"
          sponsorblock_categories:
            - "outro"
            - "selfpromo"
            - "preview"
            - "interaction"
            - "sponsor"
            - "music_offtopic"
            - "intro"
          remove_sponsorblock_categories: "all"

        # Embed English subtitles into video files (supports more)
        subtitles:
          embed_subtitles: True
          languages:
            - "en"
          allow_auto_generated_subtitles: True

        # ytdl_options lets you pass any arg into yt-dlp's Python API
        ytdl_options:
          # Set the cookie file
          # cookiefile: "/config/youtube_cookies.txt"

          # For YouTube, get English metadata if multiple languages are present
          extractor_args:
            youtube:
              lang:
                - "en"

          format: "bestvideo[ext=webm][height<=1440]+bestaudio[ext=webm]/best[ext=webm]/best"
          ignoreerrors: True
          break_on_existing: True
          break_on_reject: False
          final_ext: mkv
          cachedir: "/tmp/ytdl-sub"

        throttle_protection:
          sleep_per_download_s:
            min: 2.2
            max: 14.8
          sleep_per_subscription_s:
            min: 9.0
            max: 14.1
          max_downloads_per_subscription:
            min: 18
            max: 43
          subscription_download_probability: 1.0

        file_convert:
          convert_to: "mkv"

      ###############################################################################
      # Custom preset to archive an entire channel
      TV Show Full Archive:
        preset:
          - "base"
          - "sponsorblock_wait"  # wait for sponsorblock when full-archiving

      TV Show Full Archive (Reversed):
        preset:
          - "base"
          - "season_by_year__episode_by_month_day_reversed"
          - "sponsorblock_wait"  # wait for sponsorblock when full-archiving

      ###############################################################################
      # Custom preset to only fetch and keep recent videos.
      # Format the videos in reverse order, so the first video is the most recent
      # Also include the prebuilt "Only Recent" preset
      TV Show Only Recent:
        preset:
          - "base"
          - "season_by_year__episode_by_month_day_reversed"
          - "sponsorblock_wait"
          - "Only Recent"

        overrides:
          date_range: "6months"

  subscriptions.yaml: |-
    TV Show Full Archive:
      # = Learning | = TV-G:
      #   "Veritasium": "https://www.youtube.com/@veritasium"
      #   "Smarter Every Day": "https://www.youtube.com/@smartereveryday"

      = Science | = TV-G:
        # "PBS Spacetime": "https://youtube.com/@pbsspacetime"
        "Bill Nye The Science Guy": "https://www.youtube.com/@TheRealBillNye"
        "Doctor Mad Science": "https://www.youtube.com/@doctormadscience"
        "AumSum": "https://www.youtube.com/@AumSum"

      = Art and Crafts | = TV-G:
        "Art for Kids Hub": "https://www.youtube.com/@ArtforKidsHub"
        "Red Ted Art": "https://www.youtube.com/@redtedart"
        "Muffalo Potato": "https://www.youtube.com/@muffalopotato/featured"

      = Cooking | = TV-G:
        "Nerdy Nummies Cooking": "https://www.youtube.com/@RosannaPansino"

      = Gaming | = TV-G:
        "Krydax": "https://www.youtube.com/@Krydax8"
        "EthosLab": "https://www.youtube.com/@EthosLab"
        "TDBRICKS": "https://www.youtube.com/@TDBRICKS"

      = Kids | = TV-G:
        "Hey Bear": "https://www.youtube.com/@HeyBear"
        "Badanamu": "https://www.youtube.com/@Badanamu"
        "Carl's Car Wash": "https://www.youtube.com/@CarlsCarWash"
        "Cosmic Kids Yoga": "https://www.youtube.com/@CosmicKidsYoga"
        "Curious George": "https://www.youtube.com/@CuriousGeorge"
        "Daniel Tiger's Neighbourhood": "https://www.youtube.com/@DanielTigersNeighbourhood"
        "Danny Go!": "https://www.youtube.com/@DannyGo"
        "Disney Music": "https://www.youtube.com/@DisneyMusicVEVO"
        "Genevieve's Playhouse": "https://www.youtube.com/@GenevievesPlayhouse"
        "Hey Duggee": "https://www.youtube.com/@HeyDuggeeOfficial"
        "Koo Koo": "https://www.youtube.com/@koo__koo"
        "Mr. Monkey Monkey Mechanic": "https://www.youtube.com/@MrMonkeyMonkeyMechanic"
        "Nick Jr": "https://www.youtube.com/@nickjr"
        "Numberblocks": "https://www.youtube.com/@Numberblocks"
        "Peppa Pig": "https://www.youtube.com/@PeppaPigOfficial"
        "PJ Masks": "https://www.youtube.com/@PJMasksOfficial"
        "~Shiloh & Bros":
          url: "https://www.youtube.com/@shilohandbros"
          date_range: "20210101-today"
        "Super Simple Songs": "https://www.youtube.com/@SuperSimpleSongs"
        "Sweat Kids TV": "https://www.youtube.com/@sweatkidstv9093"
        "The Bumble Nums": "https://www.youtube.com/@BumbleNums"
        "Sesame Street": "https://www.youtube.com/@SesameStreet"
        "The Snack Town All-Stars": "https://www.youtube.com/@ColorQuest"
        "MS Rachel": "https://www.youtube.com/@msrachel"
        "Word World": "https://www.youtube.com/@wordworld"
        "Mario Party Gaming": "https://www.youtube.com/@MarioPartyGaming"
        "The Wiggles": "https://www.youtube.com/@thewiggles"
        "Scratch Garden": "https://www.youtube.com/@ScratchGarden"
        "Jelle's Marble Runs": "https://www.youtube.com/@JellesMarbleRuns"
        "D-Billions": "https://www.youtube.com/@dbillions"
        "PE with Mr. G": "https://www.youtube.com/@PEwithMrG"
        "Secret Life of my Hamster": "https://www.youtube.com/@SecretLifeofmyHamster"
        "Nelson Boys": "https://www.youtube.com/@NelsonBoys"
        "howridiculous": "https://www.youtube.com/@howridiculous"

    # TV Show Only Recent:
    #   = News | = TV-PG:
    #     # Subscriptions can prefix a tilda to specify override variables
    #     # to set only for that subscriptions
    #     "~BBC News":
    #       url: "https://www.youtube.com/@BBCNews"  # use url2, url3, ... for multi-url in this form
    #       date_range: "2weeks"
    #     "Frontline PBS": "https://www.youtube.com/@frontline"
    #     "Whitehouse": "https://www.bitchute.com/channel/zWsYVmCOu4JA/"  # Supports non-YT sites
