---
connectIPVersion: v4

upstream:
  default:
    - https://dns.nextdns.io/17daa9
  192.168.1.235:
    - https://dns.nextdns.io/38d6fe
  192.168.1.242:
    - https://dns.nextdns.io/38d6fe
  192.168.1.214:
    - https://dns.nextdns.io/38d6fe
  192.168.1.15:
    - https://dns.nextdns.io/38d6fe
  192.168.1.244:
    - https://dns.nextdns.io/38d6fe
  192.168.1.215:
    - https://dns.nextdns.io/38d6fe
  192.168.1.56:
    - https://dns.nextdns.io/38d6fe
  192.168.1.80:
    - https://dns.nextdns.io/38d6fe

bootstrapDns:
  - https://1.1.1.1/dns-query
  - https://1.0.0.1/dns-query

conditional:
  mapping:
    cluster.local: ${CLUSTER_DNS_IP}
    ${PRIVATE_DOMAIN}: ${K8S_GATEWAY_LB_IP}

clientLookup:
  upstream: ${LAN_SERVER_OPNSENSE_IP}

blocking:
  blackLists: # https://firebog.net/
    suspicious:
      - https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
      - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
      - https://v.firebog.net/hosts/static/w3kbl.txt
    # ads:
    #   - https://adaway.org/hosts.txt
    #   - https://v.firebog.net/hosts/AdguardDNS.txt
    #   - https://v.firebog.net/hosts/Admiral.txt
    #   - https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
    #   - https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
    #   - https://v.firebog.net/hosts/Easylist.txt
    #   - https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=0&mimetype=plaintext
    #   - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts
    #   - https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts
    trackers:
      - https://v.firebog.net/hosts/Easyprivacy.txt
      - https://v.firebog.net/hosts/Prigent-Ads.txt
      - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
      - https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt
      - https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt
    misc:
      - https://raw.githubusercontent.com/DandelionSprout/adfilt/master/Alternate%20versions%20Anti-Malware%20List/AntiMalwareHosts.txt
      - https://osint.digitalside.it/Threat-Intel/lists/latestdomains.txt
      - https://s3.amazonaws.com/lists.disconnect.me/simple_malvertising.txt
      - https://v.firebog.net/hosts/Prigent-Crypto.txt
      - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
      - https://bitbucket.org/ethanr/dns-blacklists/raw/master/bad_lists/Mandiant_APT1_Report_Appendix_D.txt
      - https://phishing.army/download/phishing_army_blocklist_extended.txt
      - https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-malware.txt
      - https://v.firebog.net/hosts/RPiList-Malware.txt
      - https://v.firebog.net/hosts/RPiList-Phishing.txt
      - https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt
      - https://raw.githubusercontent.com/AssoEchap/stalkerware-indicators/master/generated/hosts
      - https://urlhaus.abuse.ch/downloads/hostfile/
    other:
      - https://zerodot1.gitlab.io/CoinBlockerLists/hosts_browser
  whiteLists:
    suspicious:
      - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
      - https://raw.githubusercontent.com/spiceratops/k8s-gitops/master/kubernetes/apps/networking/blocky/app/configs/whitelist.txt
    # ads:
    #   - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
    #   - https://raw.githubusercontent.com/spiceratops/k8s-gitops/master/kubernetes/apps/networking/blocky/app/configs/whitelist.txt
    trackers:
      - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
      - https://raw.githubusercontent.com/spiceratops/k8s-gitops/master/kubernetes/apps/networking/blocky/app/configs/whitelist.txt
    misc:
      - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
      - https://raw.githubusercontent.com/spiceratops/k8s-gitops/master/kubernetes/apps/networking/blocky/app/configs/whitelist.txt
    other:
      - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
      - https://raw.githubusercontent.com/spiceratops/k8s-gitops/master/kubernetes/apps/networking/blocky/app/configs/whitelist.txt
  clientGroupsBlock:
    default:
      - suspicious
      # - ads
      - trackers
      - misc
      - other

caching:
  minTime: 5m
  prefetching: true
  prefetchExpires: 2h

redis:
  required: true
  address: dragonfly.databases.svc.cluster.local:6379

prometheus:
  enable: true
  path: /metrics

ports:
  dns: 53
  http: 4000
  tls: 853

log:
  level: debug
  format: text

customDNS:
  customTTL: 1h
  filterUnmappedTypes: true
  mapping:
    k8s.${PRIVATE_DOMAIN}: 192.168.10.250
    nas.${PRIVATE_DOMAIN}: 192.168.10.10
    s3.${PRIVATE_DOMAIN}: 192.168.10.10
    home.${PRIVATE_DOMAIN}: 192.168.1.107
    pve1.${PRIVATE_DOMAIN}: 192.168.1.11
    pve2.${PRIVATE_DOMAIN}: 192.168.1.12
    pve3.${PRIVATE_DOMAIN}: 192.168.1.13
    pve4.${PRIVATE_DOMAIN}: 192.168.1.14
    cp01.${PRIVATE_DOMAIN}: 192.168.10.201
    cp02.${PRIVATE_DOMAIN}: 192.168.10.202
    cp03.${PRIVATE_DOMAIN}: 192.168.10.203
    wk01.${PRIVATE_DOMAIN}: 192.168.10.211
    wk02.${PRIVATE_DOMAIN}: 192.168.10.212
    wk03.${PRIVATE_DOMAIN}: 192.168.10.213
    wk04.${PRIVATE_DOMAIN}: 192.168.10.214
    pve.${PRIVATE_DOMAIN}: 192.168.1.252
    pve-hass.${PRIVATE_DOMAIN}: 192.168.1.220
    npm.${PRIVATE_DOMAIN}: 192.168.1.220
    omada-web.${PRIVATE_DOMAIN}: 192.168.1.220
    unifi-web.${PRIVATE_DOMAIN}: 192.168.1.220
    unifi.${PRIVATE_DOMAIN}: 192.168.1.248
    docker.${PRIVATE_DOMAIN}: 192.168.1.220
    opnsense.${PRIVATE_DOMAIN}: 192.168.1.1
    leantime.${PRIVATE_DOMAIN}: 192.168.1.220
    dnd.${PRIVATE_DOMAIN}: 192.168.1.220
    minecraft-lobby.${PRIVATE_DOMAIN}: 192.168.15.206
    minecraft-cobblemon.${PRIVATE_DOMAIN}: 192.168.15.206
    gameservers.${PRIVATE_DOMAIN}: 192.168.1.220
    pedalboard.${PRIVATE_DOMAIN}: 192.168.1.220
    mnas.${PUBLIC_DOMAIN}: 192.168.10.11
    pc.${PUBLIC_DOMAIN}: 192.168.1.220
    doorbell.${PRIVATE_DOMAIN}: 192.168.1.16
    kasm.${PRIVATE_DOMAIN}: 192.168.1.220
