---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-piper
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      wyoming-piper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-piper
              tag: latest@sha256:54c511aa81d3b9f1e02216e30d08c948bd0b145f3eea1e7b0461c8c4645e2864
            args:
              - --voice=en-gb-southern_english_female-low
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 100m
                memory: 128M
              limits:
                memory: 512M
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: wyoming-piper
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${WYOMING_PIPER_LB_IP}
          external-dns.alpha.kubernetes.io/hostname: piper.${SECRET_DOMAIN_INTERNAL}
        ports:
          http:
            port: &port 10200
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
