---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: apprise
  namespace: observability
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      apprise:
        containers:
          app:
            image:
              # https://hub.docker.com/r/caronc/apprise
              repository: docker.io/caronc/apprise
              tag: 1.2.2
            env:
              TZ: ${TIMEZONE}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    service:
      app:
        controller: apprise
        ports:
          http:
            port: 8000
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Notifications
          gethomepage.dev/group: Tools
          gethomepage.dev/icon: bell-cog
          gethomepage.dev/name: Apprise
        hosts:
          - host: apprise.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /config
