# trash
.DS_Store
Thumbs.db
# temp folders
.private/
# archive
.archive/
# ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
.terraform.lock.hcl
terraform.tfstate*
*.tfvars
# sops
.decrypted~*
*.agekey
*.pub
*.key
*.pem
*.crt
*.sopsrc
# kubernetes
kubeconfig*
kubernetes/schemas
# extras
config.xml
# envrc
.envrc
buildercluster.sh
# nix folder for now
.nix/
#Talos
talosconfig
**/clusterconfig
**/clusterconfig*
# 1Pass
onepassword.env
# Brew
/.private/
/.task/
/.venv/
Brewfile.lock.json
# Other
*.psql
