---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ./helmrelease.yaml
  - ./prometheusrule.yaml
configMapGenerator:
  - name: smartctl-exporter-dashboards
    files:
      - ./dashboards/smart-dashboard.json
    options:
      labels:
        grafana_dashboard: "1"
generatorOptions:
  disableNameSuffixHash: true
