---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shelfmark
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      shelfmark:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/shelfmark
              tag: v1.0.2@sha256:130252047eaf1e4fc813c73b3250e4b6f0f244f8d2de8d42bf5380bddca643b7
            command: ["gunicorn"]
            args:
              # - --log-level=debug
              - --access-logfile=-
              - --error-logfile=-
              - --worker-class=geventwebsocket.gunicorn.workers.GeventWebSocketWorker
              - --workers=1
              - -t
              - "300"
              - -b
              - 0.0.0.0:8084
              - shelfmark.main:app
            env:
              TZ: ${TIMEZONE}
              INGEST_DIR: /mnt/data/media/nzb/books
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 8084
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      media:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/media
        globalMounts:
          - path: /mnt/data/media
      tmpfs:
        type: emptyDir
        advancedMounts:
          shelfmark:
            app:
              - path: /var/log
                subPath: var-log
              - path: /tmp
                subPath: tmp
