---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["192.168.30.207/24"]
              },
              {
                "name":"multus-clients",
                "namespace": "networking",
                "ips": ["192.168.20.207/24"]
              },
              {
                "name":"multus-cameras",
                "namespace": "networking",
                "ips": ["192.168.90.207/24"]
              }
              ]
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.2.1@sha256:79f5a2e8d0aa2b8a7dcfbc4fe7e0930321248724bce219d97acf9f5ce7ff854b
            env:
              TZ: ${TIMEZONE}
              HASS_HTTP_TRUSTED_PROXY_1: 10.244.0.0/16
              HASS_HTTP_TRUSTED_PROXY_2: 10.245.0.0/16
              HASS_HTTP_TRUSTED_PROXY_3: fdad:cafe:244::/112
              HASS_HTTP_TRUSTED_PROXY_4: fdad:cafe:245::/112
            resources:
              requests:
                cpu: 50m
                memory: 2Gi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.2@sha256:31ad23cda720476e7eb3371a9b02fd7a5738843f6ef43beef97e9edf1960fc47
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /data/user-data
              - --extensions-dir
              - /data/extensions
              - --port
              - "12321"
              - /config
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${HASS_LB_IP}
        controller: home-assistant
        ports:
          http:
            port: &port 8123
            primary: true
            appProtocol: kubernetes.io/wss
      code-server:
        ports:
          code-server:
            port: 12321
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Home Automation
          gethomepage.dev/group: Home
          gethomepage.dev/icon: home-assistant.png
          gethomepage.dev/name: home-assistant
      code:
        hostnames:
          - "hass-code.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: code-server
                port: 12321
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          home-assistant:
            app:
              - path: /config
                subPath: config
            code-server:
              - path: /config
                subPath: config
              - path: /data
                subPath: code-server
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /config/.venv
      tmp:
        type: emptyDir
