---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["192.168.30.207/24"]
              }
              ]
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 568
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.10.3@sha256:94c9906ffd11a2958ca07235686ab30927a7b0a684856f9a8c2f7d2b1a6e2e21
            env:
              TZ: ${TIMEZONE}
              HASS_HTTP_TRUSTED_PROXY_1: 10.244.0.0/16
              HASS_HTTP_TRUSTED_PROXY_2: 10.245.0.0/16
              HASS_HTTP_TRUSTED_PROXY_3: fdad:cafe:244::/112
              HASS_HTTP_TRUSTED_PROXY_4: fdad:cafe:245::/112
            resources:
              requests:
                cpu: 50m
                memory: 2Gi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.105.0@sha256:b54261ccfb29a6680a0fbce13f83d37487157f1b9b30390bb8ddca1929f49b4e
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.code-server
              - --extensions-dir
              - /config/.code-server
              - --port
              - "12321"
              - /config
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${HASS_LB_IP}
        controller: home-assistant
        ports:
          http:
            port: 8123
            primary: true
            appProtocol: kubernetes.io/wss
          code-server:
            port: 12321
        ipFamilyPolicy: PreferDualStack
    ingress:
      app:
        className: internal
        annotations:
          # nginx.ingress.kubernetes.io/rewrite-target: /$1
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Home Automation
          gethomepage.dev/group: Home
          gethomepage.dev/icon: home-assistant.png
          gethomepage.dev/name: home-assistant
        hosts:
          - host: newhome.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
              - path: /code/
                service:
                  identifier: app
                  port: code-server
        tls:
          - hosts:
              - newhome.${SECRET_DOMAIN_INTERNAL}
    persistence:
      config:
        existingClaim: home-assistant
        globalMounts:
          - path: /config
      config-cache:
        existingClaim: home-assistant-cache
        globalMounts:
          - path: /config/.venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /config/logs
                subPath: logs
              - path: /config/tts
                subPath: tts
              - path: /tmp
                subPath: tmp
      recs:
        existingClaim: nfs-backup
        advancedMounts:
          home-assistant:
            app:
              - path: /mnt/nfs-backup
