---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-gpu-exporter
  namespace: kube-system
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    defaultPodOptions:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
    controllers:
      intel-gpu-exporter:
        type: daemonset
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/intel-gpu-exporter
              tag: rolling@sha256:90a95483bf5d3752f4db2ab2e1663f19bba307fd832bf53557cbdc38c3701f84
            resources:
              requests:
                gpu.intel.com/i915_monitoring: 1
                cpu: 100m
                memory: 100Mi
              limits:
                gpu.intel.com/i915_monitoring: 1
                memory: 500Mi
            securityContext:
              privileged: true
    service:
      app:
        controller: intel-gpu-exporter
        ports:
          http:
            port: 8080
    serviceMonitor:
      app:
        serviceName: intel-gpu-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
            relabelings:
              - sourceLabels: [__meta_kubernetes_pod_node_name]
                targetLabel: node
