---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: descheduler
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.34.0
  url: oci://ghcr.io/home-operations/charts-mirror/descheduler
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: descheduler
  namespace: kube-system
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: descheduler

  values:
    replicas: 2
    kind: Deployment
    schedule: "*/5 * * * *"
    deschedulerPolicy:
      strategies:
        RemovePodsHavingTooManyRestarts:
          enabled: true
          params:
            podsHavingTooManyRestarts:
              podRestartThreshold: 5
              includingInitContainers: true
        RemovePodsViolatingTopologySpreadConstraint:
          enabled: true
          params:
            includeSoftConstraints: true
        PodLifeTime:
          enabled: true
          params:
            podLifeTime:
              states:
                - Pending
                - PodInitializing
                - ContainerCreating
              maxPodLifeTimeSeconds: 3600
        RemoveFailedPods:
          enabled: true
          params:
            failedPods:
              reasons:
                - NodeShutdown
                - ImagePullBackOff
                - CreateContainerConfigError
              includingInitContainers: true
              excludeOwnerKinds:
                - Job
              minPodLifetimeSeconds: 3600
        RemoveDuplicates:
          enabled: true
        RemovePodsViolatingNodeTaints:
          enabled: true
        RemovePodsViolatingNodeAffinity:
          enabled: true
          params:
            nodeAffinityType:
              - requiredDuringSchedulingIgnoredDuringExecution
        RemovePodsViolatingInterPodAntiAffinity:
          enabled: true
        LowNodeUtilization:
          enabled: true
          params:
            nodeResourceUtilizationThresholds:
              thresholds:
                cpu: 40
                pods: 30
              targetThresholds:
                cpu: 45
                pods: 45
    service:
      enabled: true
    serviceMonitor:
      enabled: true
    leaderElection:
      enabled: true
