---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: k8s
spec:
  endpoints:
    - dnsName: k8s.${PUBLIC_DOMAIN}
      recordTTL: 180
      recordType: A
      targets:
        - 192.168.1.250
    - dnsName: cp01.${PUBLIC_DOMAIN}
      recordTTL: 180
      recordType: A
      targets:
        - 192.168.1.201
    # - dnsName: cp01.${PUBLIC_DOMAIN}
    #   recordTTL: 180
    #   recordType: AAAA
    #   targets:
    #     - ${PUBLIC_IPV6_PREFIX}:0:8c94:cff:fe67:cc84
    - dnsName: cp02.${PUBLIC_DOMAIN}
      recordTTL: 180
      recordType: A
      targets:
        - 192.168.1.202
    # - dnsName: cp02.${PUBLIC_DOMAIN}
    #   recordTTL: 180
    #   recordType: AAAA
    #   targets:
    #     - ${PUBLIC_IPV6_PREFIX}:0:d01b:40ff:fe68:2ebe
    - dnsName: cp03.${PUBLIC_DOMAIN}
      recordTTL: 180
      recordType: A
      targets:
        - 192.168.1.203
    # - dnsName: cp03.${PUBLIC_DOMAIN}
    #   recordTTL: 180
    #   recordType: AAAA
    #   targets:
    #     - ${PUBLIC_IPV6_PREFIX}:0:c09:bbff:feeb:c979
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: nas
spec:
  endpoints:
    - dnsName: nas.${PUBLIC_DOMAIN}
      recordTTL: 180
      recordType: A
      targets:
        - 192.168.1.100
    - dnsName: nas.${SECRET_DOMAIN}
      recordTTL: 180
      recordType: CNAME
      targets:
        - nas.${PUBLIC_DOMAIN}
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: unifi
spec:
  endpoints:
    - dnsName: unifi.${SECRET_DOMAIN}
      recordTTL: 180
      recordType: A
      targets:
        - 192.168.1.1
    - dnsName: unifi.${SECRET_DOMAIN}
      recordTTL: 180
      recordType: AAAA
      targets:
        - ${PUBLIC_IPV6_PREFIX}::1
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: doorbell
spec:
  endpoints:
    - dnsName: doorbell.${SECRET_DOMAIN}
      recordTTL: 180
      recordType: A
      targets:
        - 192.168.1.16
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: home
spec:
  endpoints:
    - dnsName: home.${SECRET_DOMAIN}
      recordTTL: 180
      recordType: A
      targets:
        - 192.168.30.107
    - dnsName: home.${SECRET_DOMAIN}
      recordTTL: 180
      recordType: AAAA
      targets:
        - ${PUBLIC_IPV6_PREFIX}:1:58a4:8b05:f5ca:e10a
