apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  namespace: selfhosted
  labels:
    app.kubernetes.io/name: homepage
data:
  bookmarks.yaml: |
    - Bookmarks:
        - GitHub Repo (k8s-gitops):
            - icon: si-github
              href: https://github.com/spiceratops/k8s-gitops
        - Kubesearch:
            - icon: si-kubernetes
              href: https://kubesearch.dev
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    color: slate
    useEqualHeights: true
    headerStyle: clean
    base: https://homepage.${SECRET_DOMAIN_INTERNAL}
    title: Home
    quicklaunch:
      searchDescriptions: true
    statusStyle: "dot"
    layout:
      Home:
        style: row
        columns: 4
        tab: Main
      Bookmarks:
        style: row
        columns: 4
        tab: Admin
      Media:
        style: row
        columns: 4
        tab: Main
      Reading:
        style: row
        columns: 4
        tab: Main
      Tabletop:
        icon: mdi-dice-d20-outline
        tab: Main
      Gaming:
        icon: mdi-controller
        tab: Main
      Finance:
        style: row
        columns: 4
        tab: Main
      Downloaders:
        style: row
        columns: 4
        tab: Admin
      Tools:
        style: row
        columns: 4
        tab: Main
      Host Widgets:
        icon: mdi-chart-box
        style: row
        columns: 4
        tab: Main
      Infrastructure:
        icon: mdi-wan
        tab: Admin
      Data:
        icon: mdi-postgresql
        tab: Admin
      observability:
        icon: mdi-grafana
        tab: Admin
  services.yaml: |
    ---
    - Infrastructure:
        - Cloudflare:
            href: https://dash.cloudflare.com/
            icon: cloudflare-zero-trust.png
            description: Cloudflared Tunnel
            widget:
              type: cloudflared
              accountid: {{HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID}}
              tunnelid: {{HOMEPAGE_VAR_CLOUDFLARED_TUNNELID}}
              key: {{HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN}}
        - Nextdns:
            href: https://my.nextdns.io
            icon: nextdns.png
            description: NextDNS
            widget:
              type: nextdns
              profile: {{HOMEPAGE_VAR_NEXTDNS_PROFILE}}
              key: {{HOMEPAGE_VAR_NEXTDNS_API_KEY}}
        - Proxmox (Main Cluster):
            icon: proxmox.png
            href: https://pve.${SECRET_DOMAIN_INTERNAL}
            description: Proxmox Cluster
        - Proxmox (Solo):
            icon: proxmox.png
            href: https://pve-hass.${SECRET_DOMAIN_INTERNAL}
            description: Proxmox Solo
        - Opnsense:
            icon: opnsense.png
            href: https://opnsense.${SECRET_DOMAIN_INTERNAL}
            description: Opnsense
            widget:
              type: opnsense
              username: {{HOMEPAGE_VAR_OPNSENSE_KEY}}
              password: {{HOMEPAGE_VAR_OPNSENSE_SECRET}}
        - UniFi:
            icon: unifi.png
            href: https://unifi-web.${SECRET_DOMAIN_INTERNAL}
            description: Unifi Console
            widget:
              type: unifi
              url: unifi.${SECRET_DOMAIN_INTERNAL}
              username: {{HOMEPAGE_VAR_UNIFI_USER}}
              password: {{HOMEPAGE_VAR_UNIFI_PASSWORD}}
        - Omada:
            icon: omada.png
            href: https://omada-web.${SECRET_DOMAIN_INTERNAL}
            description: Omada Console
    - Home:
        - Home Assistant:
            icon: home-assistant.png
            href: https://home.${SECRET_DOMAIN_INTERNAL}
            description: Home Automation
    - Tabletop:
        - Dungeon Master's Vault:
            icon: mdi-dice-d20-outline
            href: https://dnd.${SECRET_DOMAIN_INTERNAL}
            description: DnD Resources

  widgets.yaml: |
    - search:
        provider: custom
        url: https://whoogle.${SECRET_DOMAIN_INTERNAL}/search?q=%s
        target: _blank
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "K8S Cluster"
        nodes:
          show: false
    - datetime:
        text_size: l
        format:
          dateStyle: long
          timeStyle: short
          hourCycle: h23

  docker.yaml: |
    ---
    docker:
      host: docker.${SECRET_DOMAIN_INTERNAL}
      port: 2375
