---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tidarr
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: tidarr-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        NAVIDROME_USER: "{{ .TIDARR_NAVIDROME_USER }}"
        NAVIDROME_PASSWORD: "{{ .TIDARR_NAVIDROME_PASSWORD }}"
        OIDC_CLIENT_ID: "{{ .TIDARR_CLIENT_ID }}"
        OIDC_CLIENT_SECRET: "{{ .TIDARR_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: tidarr
    - extract:
        key: pocket-id
