---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tidarr
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      tidarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/cstaelen/tidarr
              tag: 1.1.7@sha256:99fa13888efeaed7ed6a1890f0b75c13a7450ff9ef3741abaf6783b0bb4ab130
            env:
              TZ: "${TIMEZONE}"
              ENABLE_BEETS: true
              REPLAY_GAIN: true
              OIDC_ISSUER: https://id.${SECRET_DOMAIN}
              OIDC_REDIRECT_URI: https://tidarr.${SECRET_DOMAIN}/api/auth/oidc/callback
              NAVIDROME_URL: "http://navidrome.media.svc.cluster.local:8080"
              PUID: 1000
              PGID: 1000
            envFrom:
              - secretRef:
                  name: tidarr-secret
            resources:
              requests:
                cpu: 50m
                memory: 250Mi
              limits:
                memory: 2000Mi
    service:
      app:
        controller: tidarr
        ports:
          http:
            port: &port 8484
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Tidal Downloader
          gethomepage.dev/group: Downloaders
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /shared
      music:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/media/music
        globalMounts:
          - path: /music
      downloads:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/media/downloads/tidarr
        globalMounts:
          - path: /shared/nzb_downloads
