---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tidarr
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m
  driftDetection:
    mode: enabled

  values:
    controllers:
      tidarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/cstaelen/tidarr
              tag: 0.4.6@sha256:0ac17e2c518b11a6d17e671b70734ad8efa956166f7e182099e7f08104bec8a6
            env:
              TZ: "${TIMEZONE}"
              REACT_APP_TIDAL_COUNTRY_CODE: AU
              REACT_APP_TIDARR_DEFAULT_QUALITY_FILTER: lossless
              ENABLE_BEETS: "true"
              PUID: 1000
              PGID: 568
            envFrom:
              - secretRef:
                  name: tidarr-secret
            resources:
              requests:
                cpu: 50m
                memory: 250Mi
              limits:
                memory: 2000Mi
    service:
      app:
        controller: tidarr
        ports:
          http:
            port: 8484
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
    persistence:
      config:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /home/app/standalone/shared
      tiddl:
        type: secret
        name: tidarr-secret
        globalMounts:
          - path: /home/app/standalone/shared/tiddl.json
            subPath: tiddl.json
      media:
        type: nfs
        server: nas.${SECRET_DOMAIN}
        path: /mnt/tank/media/music
        globalMounts:
          - path: /home/app/standalone/download/albums
            subPath: albums
          - path: /home/app/standalone/download/tracks
            subPath: tracks
          - path: /home/app/standalone/download/playlists
            subPath: playlists
          - path: /home/app/standalone/download/videos
            subPath: videos
      download:
        type: nfs
        server: nas.${SECRET_DOMAIN}
        path: /mnt/tank/media/downloads/tidarr
        globalMounts:
          - path: /home/app/standalone/download/incomplete
            subPath: albums
