---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname intel-device-plugin-operator
  namespace: flux-system
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: node-feature-discovery
  path: ./kubernetes/apps/kube-system/intel-device-plugin/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname intel-device-plugin-gpu
  namespace: flux-system
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: node-feature-discovery
    - name: intel-device-plugin-operator
    - name: cert-manager
  path: ./kubernetes/apps/kube-system/intel-device-plugin/gpu
  prune: false
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname intel-device-plugin-exporter
  namespace: flux-system
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: intel-device-plugin-gpu
  path: ./kubernetes/apps/kube-system/intel-device-plugin/exporter
  prune: false
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
