---
apiVersion: cilium.io/v2
kind: CiliumBGPClusterConfig
metadata:
  name: cilium-bgp
spec:
  nodeSelector:
    matchExpressions:
      - { key: somekey, operator: NotIn, values: ["never-used-value"] }
  bgpInstances:
    - name: cilium
      localASN: 64514
      peers:
        - name: peer-64513
          peerASN: 64513
          peerAddress: 192.168.1.1
          peerConfigRef:
            name: cilium-peer
        # - name: peer-64513-v6
        #   peerASN: 64513
        #   peerAddress: fdad:cafe:800::1
        #   peerConfigRef:
        #     name: cilium-peer
---
apiVersion: cilium.io/v2
kind: CiliumBGPPeerConfig
metadata:
  name: cilium-peer
spec:
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: "bgp"
    # - afi: ipv6
    #   safi: unicast
    #   advertisements:
    #     matchLabels:
    #       advertise: "bgp"
---
apiVersion: cilium.io/v2
kind: CiliumBGPAdvertisement
metadata:
  name: cilium-advert
  labels:
    advertise: bgp
spec:
  advertisements:
    - advertisementType: "Service"
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchExpressions:
          - { key: somekey, operator: NotIn, values: ["never-used-value"] }
---
apiVersion: v1
kind: Service
metadata:
  name: kube-api
  annotations:
    external-dns.alpha.kubernetes.io/hostname: k8s.${PRIVATE_DOMAIN}
    lbipam.cilium.io/ips: 192.168.1.250
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  selector:
    k8s-app: kube-apiserver
    tier: control-plane
  ports:
    - port: 6443
