---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname ollama
  namespace: flux-system
spec:
  targetNamespace: ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: ./kubernetes/apps/ai/ollama/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      APP2: &appname2 ollama-ui
      HOSTNAME: ollama.${PRIVATE_DOMAIN}
      HOSTNAME2: ollama-api.${PRIVATE_DOMAIN}
      VOLSYNC_CLAIM: *appname
      VOLSYNC_CLAIM2: *appname2
