---
originRequest:
  http2Origin: true

ingress:
  - hostname: ${SECRET_DOMAIN_INTERNAL}
    service: https://ingress-nginx-external-controller.networking.svc.cluster.local:443
    originRequest:
      originServerName: external.${SECRET_DOMAIN_INTERNAL}

  - hostname: "*.${SECRET_DOMAIN_INTERNAL}"
    service: https://ingress-nginx-external-controller.networking.svc.cluster.local:443
    originRequest:
      originServerName: external.${SECRET_DOMAIN_INTERNAL}

  - service: http_status:404
