---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-gpu
  namespace: kube-system
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: 0.32.0
      sourceRef:
        kind: HelmRepository
        name: intel-charts
        namespace: flux-system

  values:
    name: intel-gpu-plugin
    sharedDevNum: 3
    nodeFeatureRule: true
