---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-whisper
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      wyoming-whisper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 2.5.0@sha256:0d78ad506e450fb113616650b7328233385905e2f2ed07fa59221012144500e3
            args:
              - --model
              - base
              - --language
              - en
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 100m
                memory: 256M
                # nvidia.com/gpu: 1
              limits:
                memory: 4Gi
                # nvidia.com/gpu: 1
    service:
      app:
        controller: wyoming-whisper
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${WYOMING_WHISPER_LB_IP}
          # external-dns.alpha.kubernetes.io/hostname: whisper.${SECRET_DOMAIN_INTERNAL}
        ports:
          http:
            enabled: true
            primary: false
            port: 8000
          whisper:
            enabled: true
            primary: true
            port: 10300
            protocol: TCP
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host whisper.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"
