---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wyoming-whisper
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      wyoming-whisper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 3.1.0@sha256:9501d2659eee83b6eead98d53842193e5fed011eda6c5b1c3ad36f3146b28fed
            args:
              - --model
              - base
              - --language
              - en
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 100m
                memory: 256M
                # nvidia.com/gpu: 1
              limits:
                memory: 4Gi
                # nvidia.com/gpu: 1
    service:
      app:
        controller: wyoming-whisper
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${WYOMING_WHISPER_LB_IP}
          # external-dns.alpha.kubernetes.io/hostname: whisper.${SECRET_DOMAIN}
        ports:
          http:
            enabled: true
            primary: false
            port: &port 8000
          whisper:
            enabled: true
            primary: true
            port: 10300
            protocol: TCP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - "whisper.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
