---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wallos
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      wallos:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: bellamy/wallos
              tag: 4.6.0
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
    service:
      app:
        controller: wallos
        ports:
          http:
            port: &port 80
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: wallos.png
          gethomepage.dev/name: Wallos
          gethomepage.dev/group: Finance
          gethomepage.dev/description: Subscription Tracker
    persistence:
      config:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/www/html/db
