---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: agones
  namespace: gaming
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: agones
      version: 1.44.0
      sourceRef:
        kind: HelmRepository
        name: agones-charts
        namespace: flux-system

  values:
    agones:
      controller:
        replicas: 1
      extensions:
        replicas: 1
      ping:
        install: false
        replicas: 1
      allocator:
        replicas: 1
        service:
          serviceType: ClusterIP

    gameservers:
      namespaces:
        - gaming
