---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-machine-learning
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  dependsOn:
    - name: immich-server
  values:
    controllers:
      immich-machine-learning:
        type: statefulset
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        statefulset:
          volumeClaimTemplates:
            - name: cache
              accessMode: ReadWriteOnce
              size: 20Gi
              storageClass: ${CLUSTER_STORAGE_BLOCK}
              globalMounts:
                - path: /cache
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 1000
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65541
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.1.0
            env:
              # General
              IMMICH_MEDIA_LOCATION: /usr/src/app/upload
              # Ports
              IMMICH_HOST: 0.0.0.0
              IMMICH_PORT: &port 3003
              # Machine learning
              MACHINE_LEARNING_CACHE_FOLDER: /cache
              TRANSFORMERS_CACHE: /cache
            resources:
              requests:
                cpu: 100m
                memory: 250M
              limits:
                memory: 4000M
    service:
      app:
        controller: immich-machine-learning
        ports:
          http:
            port: *port
    persistence:
      library:
        type: nfs
        server: nas.${SECRET_DOMAIN}
        path: /mnt/tank/photos
        globalMounts:
          - path: /usr/src/app/upload
