---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app glados
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      glados:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/spiceratops/glados
              tag: 0.1.1@sha256:d89788b79c1dca0ba44967e17db6bdcdbd9cb22c6e36514d2f09cdabbbf0a5d1
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 100m
                memory: 128M
                nvidia.com/gpu: 1
              limits:
                memory: 1Gi
                nvidia.com/gpu: 1
    service:
      app:
        controller: glados
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${WYOMING_GLADOS_LB_IP}
        ports:
          http:
            port: 5050
        ipFamilyPolicy: PreferDualStack
    ingress:
      app:
        className: "internal"
        hosts:
          - host: glados.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        type: configMap
        name: glados-config
        advancedMounts:
          glados:
            config:
              - path: /configs/glados_config.yaml
                subPath: glados_config.yaml
                readOnly: true
