---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app donetick
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      donetick:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: donetick/donetick
              tag: v0.1.74@sha256:5e6e2afe0f23c16f791ce52ef22c1914e39673f889e85ba4517b7e6ad4fbc2f0
            env:
              TZ: ${TIMEZONE}
              DT_ENV: selfhosted
              DT_SERVER_PORT: &port 2021
              DT_SQLITE_PATH: /donetick-data/donetick.db
              DT_OAUTH2_NAME: "Pocket ID"
              DT_IS_USER_CREATION_DISABLED: true
              DT_OAUTH2_AUTH_URL: "https://id.${SECRET_DOMAIN}/authorize"
              DT_OAUTH2_TOKEN_URL: "https://id.${SECRET_DOMAIN}/api/oidc/token"
              DT_OAUTH2_USER_INFO_URL: "https://id.${SECRET_DOMAIN}/api/oidc/userinfo"
              DT_OAUTH2_REDIRECT_URL: "https://donetick.${SECRET_DOMAIN}/auth/oauth2"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: donetick.png
          gethomepage.dev/name: Donetick
          gethomepage.dev/group: Productivity
          gethomepage.dev/description: Todo App
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /donetick-data
