---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 568
        fsGroup: 568
        supplementalGroups:
          - 44
          - 109
        fsGroupChangePolicy: OnRootMismatch
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: jellyfin-gpu
    controllers:
      jellyfin:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: jellyfin/jellyfin
              tag: 10.11.4@sha256:aab0b50a3ce43a41621fc7040a379cc57174059aec8f9c17a90176649a0c1ab1
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_FFmpeg__probesize: 100000000
              JELLYFIN_FFmpeg__analyzeduration: 100000000
              JELLYFIN_PublishedServerUrl: "${HOSTNAME}"
              TZ: ${TIMEZONE}
            args:
              - /bin/bash
              - /scripts/intel-runtimes.sh
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 4Gi
    service:
      app:
        controller: jellyfin
        type: LoadBalancer
        loadBalancerIP: ${JELLYFIN_LB_IP}
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8096
        ipFamilyPolicy: PreferDualStack
    # route:
    #   app:
    #     hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN_INTERNAL}"]
    #     parentRefs:
    #       - name: envoy-internal
    #         namespace: networking
    #         sectionName: https
    persistence:
      config:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
      media:
        existingClaim: nfs-media
        globalMounts:
          - path: /media
      transcode:
        enabled: true
        type: emptyDir
      cache:
        enabled: true
        type: emptyDir
      scripts:
        type: configMap
        name: jellyfin-scripts
        defaultMode: 0775
        globalMounts:
          - readOnly: true
