---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./volsync.yaml
  - ./helmrelease.yaml
  - ./httproute.yaml
configMapGenerator:
  - name: jellyfin-scripts
    files:
      - ./scripts/intel-runtimes.sh
generatorOptions:
  disableNameSuffixHash: true
