---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
  namespace: databases
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      pgadmin:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          volume-permissions:
            image:
              repository: dpage/pgadmin4
              tag: "9.12@sha256:10137f33be7ed61e47f56004493710cb5b80ba7fb0ca01758855e242f1f284a7"
            command: ["/bin/chown", "-R", "5050:5050", "/var/lib/pgadmin"]
            securityContext:
              runAsUser: 0
        containers:
          app:
            image:
              repository: dpage/pgadmin4
              tag: "9.12@sha256:10137f33be7ed61e47f56004493710cb5b80ba7fb0ca01758855e242f1f284a7"
            env:
              PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False"
            envFrom:
              - secretRef:
                  name: pgadmin-secret
            resources:
              requests:
                cpu: 50m
                memory: 128M
              limits:
                memory: 1024M
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/lib/pgadmin
    service:
      app:
        controller: pgadmin
        ports:
          http:
            port: &port 80
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: gpostgres.png
          gethomepage.dev/name: PGAdmin
          gethomepage.dev/group: Data
          gethomepage.dev/description: Postgres Admin
