---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ytdl-sub
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    global:
      fullnameOverride: ${APP}
    controllers:
      ytdl-sub:
        annotations:
          reloader.stakater.com/auto: "true"
        type: cronjob
        cronjob:
          schedule: "0 4 * * *"
          # schedule: "@daily" # enable for testing
          concurrencyPolicy: Forbid
          ttlSecondsAfterFinished: 86400
          startingDeadlineSeconds: 30
          successfulJobsHistory: 1
          failedJobsHistory: 1
          backoffLimit: 6
        containers:
          app:
            image:
              repository: ghcr.io/jmbannon/ytdl-sub
              tag: 2025.10.23
            env:
              TZ: ${TIMEZONE}
            command:
              - ytdl-sub
              - --log-level
              - debug
              - -c
              - /config/config.yaml
              - sub
              - /config/subscriptions.yaml
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 2048Mi
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 10000
    persistence:
      config:
        enabled: true
        type: configMap
        name: config
        globalMounts:
          - path: /config
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp/ytdl-sub
      media:
        existingClaim: nfs-media
        globalMounts:
          - path: /media
