---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: dragonfly-operator
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.3.1
  url: oci://ghcr.io/dragonflydb/dragonfly-operator/helm/dragonfly-operator
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dragonfly-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
  values:
    manager:
      image:
        repository: ghcr.io/dragonflydb/operator
    grafanaDashboard:
      enabled: true
      folder: data
