---
apiVersion: shulkermc.io/v1alpha1
kind: ProxyFleet
metadata:
  name: minecraft-proxy
spec:
  clusterRef:
    name: minecraft-cluster
  replicas: 1
  service:
    type: LoadBalancer
    externalTrafficPolicy: Local
    annotations:
      io.cilium/lb-ipam-ips: "${MINECRAFT_LB_IP}"
      coredns.io/hostname: minecraft.${PRIVATE_DOMAIN}
      service.beta.kubernetes.io/scw-loadbalancer-proxy-protocol-v2: "true"
      service.beta.kubernetes.io/scw-loadbalancer-use-hostname: "true"
      reloader.stakater.com/auto: "true"
  template:
    spec:
      version:
        channel: Velocity
        name: latest
      config:
        proxyProtocol: true
