---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hajimari
  namespace: selfhosted
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: hajimari
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: hajimari-charts
        namespace: flux-system

  values:
    env:
      TZ: ${TIMEZONE}
    hajimari:
      title: Garage Fire Apps for M11s
      lightTheme: cloud
      darkTheme: tron
      alwaysTargetBlank: true
      showGreeting: false
      showAppGroups: false
      showAppStatus: false
      showBookmarkGroups: false
      showGlobalBookmarks: false
      showAppUrls: false
      defaultEnable: false
      namespaceSelector:
        matchNames:
          - gaming
          - media
          - selfhosted
          - dev
      defaultSearchProvider: Whoogle
      searchProviders:
        - name: Whoogle
          token: "y"
          icon: simple-icons:google
          searchUrl: https://whoogle.${SECRET_DOMAIN_INTERNAL}/search?q={query}
          url: https://whoogle.${SECRET_DOMAIN_INTERNAL}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          gethomepage.dev/enable: "false"
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN_INTERNAL}
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - "${HOSTNAME}"
    podAnnotations:
      configmap.reloader.stakater.com/reload: hajimari-settings
    persistence:
      data:
        enabled: true
        type: emptyDir
    resources:
      requests:
        cpu: 100m
        memory: 128M
