---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns
  namespace: networking
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: external-dns-secret
    creationPolicy: Owner
  data:
    - secretKey: zone-id
      remoteRef:
        key: cloudflare-sp
        property: ZONE_ID_SP
    - secretKey: api-email
      remoteRef:
        key: cloudflare-sp
        property: API_EMAIL_SP
    - secretKey: api-token
      remoteRef:
        key: cloudflare-sp
        property: API_TOKEN_SP
