---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: external-dns-cloudflare
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.19.0
  url: oci://ghcr.io/home-operations/charts-mirror/external-dns
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns-cloudflare
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: external-dns-cloudflare
  values:
    provider: cloudflare
    env:
      - name: CF_API_EMAIL
        valueFrom:
          secretKeyRef:
            name: external-dns-secret
            key: api-email
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: external-dns-secret
            key: api-token
      - name: CF_ZONE_ID
        valueFrom:
          secretKeyRef:
            name: external-dns-secret
            key: zone-id
    extraArgs:
      - --cloudflare-proxied
      - "--zone-id-filter=$(CF_ZONE_ID)"
      - --annotation-filter=external-dns.alpha.kubernetes.io/target
    policy: sync
    sources:
      - service
      - ingress
    txtOwnerId: k8s
    txtPrefix: k8s.
    domainFilters:
      - "${SECRET_DOMAIN_INTERNAL}"
    serviceMonitor:
      enabled: true
    podAnnotations:
      reloader.stakater.com/auto: "true"
