---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname feishin
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: volsync
    - name: rook-ceph-cluster
    - name: external-secrets-stores
    - name: navidrome
  path: ./kubernetes/apps/media/feishin/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: graves.${SECRET_DOMAIN_INTERNAL}
