---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app karakeep
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      karakeep:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.30.0@sha256:2724d4a9a6d13a7fa3babf53b9245767aae56c34f06042a8463ee983c6b41caf
            env:
              DATA_DIR: /data
              MEILI_ADDR: http://karakeep-meilisearch:7700
              BROWSER_WEB_URL: http://karakeep-chrome:9222
              NEXTAUTH_URL: https://keep.${SECRET_DOMAIN}
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_ENABLE_ADBLOCKER: true
              # OAuth setup
              OAUTH_PROVIDER_NAME: Pocket-ID
              OAUTH_WELLKNOWN_URL: https://id.${SECRET_DOMAIN}/.well-known/openid-configuration
              DISABLE_PASSWORD_AUTH: "true"
              OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "true"
            envFrom: &envFrom
              - secretRef:
                  name: karakeep-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 750Mi
          meilisearch:
            image:
              repository: getmeili/meilisearch
              tag: v1.34.1@sha256:ed207d965b25fe533b39f367f13ce26abff22152acfbf7ab28b1a8c565f22e72
            env:
              MEILI_NO_ANALYTICS: "true"
            envFrom: *envFrom
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
          chrome:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124@sha256:1a0046448e0bb6c275c88f86e01faf0de62b02ec8572901256ada0a8c08be23f
            command:
              - chromium-browser
            args:
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
            securityContext:
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        controller: karakeep
        ports:
          http:
            port: &port 3000
      chrome:
        controller: karakeep
        ports:
          http:
            port: 9222
      meilisearch:
        controller: karakeep
        ports:
          http:
            port: 7700
    route:
      app:
        hostnames:
          - keep.${SECRET_DOMAIN}
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - hoarder.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: karakeep-app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: karakeep.png
          gethomepage.dev/name: Karakeep
          gethomepage.dev/url: keep.${SECRET_DOMAIN}
          gethomepage.dev/group: The Internets
          gethomepage.dev/description: Saved Web Content
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          karakeep:
            app:
              - path: /data
                subPath: data
            meilisearch:
              - path: /meili_data
                subPath: meili_data
