---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app karakeep
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      karakeep:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.30.0@sha256:2724d4a9a6d13a7fa3babf53b9245767aae56c34f06042a8463ee983c6b41caf
            env:
              DATA_DIR: /data
              MEILI_ADDR: http://karakeep-meilisearch:7700
              BROWSER_WEB_URL: http://karakeep-chrome:9222
              NEXTAUTH_URL: https://karakeep.${SECRET_DOMAIN}
              # OAuth setup
              # OAUTH_PROVIDER_NAME: Authelia
              # OAUTH_WELLKNOWN_URL: https://auth.${SECRET_DOMAIN}/.well-known/openid-configuration
              # DISABLE_PASSWORD_AUTH: "true"
            envFrom: &envFrom
              - secretRef:
                  name: karakeep-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 750Mi
          meilisearch:
            image:
              repository: getmeili/meilisearch
              tag: v1.10.3@sha256:9d1b9b02fe6c68f60b54ce40092d8078f051b9341c400c90f907607636b7c9c1
            env:
              MEILI_NO_ANALYTICS: "true"
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
          chrome:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124@sha256:1a0046448e0bb6c275c88f86e01faf0de62b02ec8572901256ada0a8c08be23f
            command:
              - chromium-browser
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
    service:
      app:
        controller: karakeep
        ports:
          http:
            port: &port 3000
      chrome:
        controller: karakeep
        ports:
          http:
            port: 9222
      meilisearch:
        controller: karakeep
        ports:
          http:
            port: 7700
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - keep.${SECRET_DOMAIN}
          - hoarder.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: si-bookmark
          gethomepage.dev/name: Karakeep
          gethomepage.dev/group: Tools
          gethomepage.dev/description: Saved Web Content
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          karakeep:
            app:
              - path: /data
                subPath: data
            meilisearch:
              - path: /meili_data
                subPath: meili_data
