---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: authelia
  namespace: security
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: authelia-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Authelia
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: "{{ .AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: "{{ .AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY: "{{ .AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY }}"
        AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: "{{ .AUTHELIA_JWT_SECRET }}"
        AUTHELIA_SESSION_SECRET: "{{ .AUTHELIA_SESSION_SECRET }}"
        AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ .AUTHELIA_STORAGE_ENCRYPTION_KEY }}"
        AUTHELIA_STORAGE_POSTGRES_DATABASE: &dbName authelia
        AUTHELIA_STORAGE_POSTGRES_ADDRESS: &dbHost postgres-rw.databases.svc.cluster.local
        AUTHELIA_STORAGE_POSTGRES_USERNAME: &dbUser "{{ .AUTHELIA_STORAGE_POSTGRES_USERNAME }}"
        AUTHELIA_STORAGE_POSTGRES_PASSWORD: &dbPass "{{ .AUTHELIA_STORAGE_POSTGRES_PASSWORD }}"
        OIDC_JWKS_KEY: "{{ .OIDC_JWKS_KEY }}"
        # OIDC Apps
        GRAFANA_OAUTH_CLIENT_DIGEST: "{{ .GRAFANA_OAUTH_CLIENT_DIGEST }}"
        NODE_RED_OAUTH_CLIENT_DIGEST: "{{ .NODE_RED_OAUTH_CLIENT_DIGEST }}"
        MINIFLUX_OAUTH_CLIENT_DIGEST: "{{ .MINIFLUX_OAUTH_CLIENT_DIGEST }}"
        WINDMILL_OAUTH_CLIENT_DIGEST: "{{ .WINDMILL_OAUTH_CLIENT_DIGEST }}"
        IMMICH_OAUTH_CLIENT_DIGEST: "{{ .IMMICH_OAUTH_CLIENT_DIGEST }}"
        OUTLINE_OAUTH_CLIENT_DIGEST: "{{ .OUTLINE_OAUTH_CLIENT_DIGEST }}"
        WEAVEGITOPS_OAUTH_CLIENT_DIGEST: "{{ .WEAVEGITOPS_OAUTH_CLIENT_DIGEST }}"
        AUDIOBOOKSHELF_OAUTH_CLIENT_DIGEST: "{{ .AUDIOBOOKSHELF_OAUTH_CLIENT_DIGEST }}"
        OPEN_WEBUI_OAUTH_CLIENT_DIGEST: "{{ .OPEN_WEBUI_OAUTH_CLIENT_DIGEST }}"
        PAPERLESS_OAUTH_CLIENT_DIGEST: "{{ .PAPERLESS_OAUTH_CLIENT_DIGEST }}"
        HOARDER_OAUTH_CLIENT_DIGEST: "{{ .HOARDER_OAUTH_CLIENT_DIGEST }}"
        OCIS_OAUTH_CLIENT_DIGEST: "{{ .OCIS_OAUTH_CLIENT_DIGEST }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        # Vars
        PRIVATE_DOMAIN: ${PRIVATE_DOMAIN}
  dataFrom:
    - extract:
        key: authelia
    - extract:
        key: cloudnative-pg
