---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: audiobookshelf
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: audiobookshelf-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        AUDIOBOOKSHELF_OIDC_CLIENT_SECRET: "{{ .AUDIOBOOKSHELF_OAUTH_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: authelia
