---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: audiobookshelf
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: audiobookshelf-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        AUDIOBOOKSHELF_OIDC_CLIENT_ID: "{{ .AUDIOBOOKSHELF_CLIENT_ID }}"
        AUDIOBOOKSHELF_OIDC_CLIENT_SECRET: "{{ .AUDIOBOOKSHELF_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: pocket-id
