---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-documents
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: nas.${SECRET_DOMAIN}
    path: /mnt/tank/documents
  mountOptions:
    - nfsvers=4.2
