---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana
  namespace: observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: grafana-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        GF_SECURITY_ADMIN_PASSWORD: "{{ .GF_ADMIN_PASS }}"
  dataFrom:
    - extract:
        key: grafana
