---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana
  namespace: observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: grafana-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Grafana Admin
        admin-user: "{{ .GF_ADMIN_USER }}"
        admin-password: "{{ .GF_ADMIN_PASS }}"
        # Authelia
        # GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ .GRAFANA_OAUTH_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: grafana
    # - extract:
    #     key: authelia
