---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app libmedium
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      libmedium:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: realaravinth/libmedium
              tag: master@sha256:63d69a1fd87588028f9fdf26256ec11fc06ecb90fcdd6ee007cd20a1808e1b14
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
    service:
      app:
        controller: libmedium
        ports:
          http:
            port: &port 7000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - medium.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Medium Reader
          gethomepage.dev/group: The Internets
          gethomepage.dev/icon: medium.png
          gethomepage.dev/name: Libmedium
          hajimari.io/enable: "true"
          hajimari.io/icon: simple-icons:medium
          hajimari.io/appName: Libmedium
    persistence:
      config:
        enabled: true
        type: configMap
        name: libmedium-configmap
        globalMounts:
          - path: /etc/libmedium/config.toml
            subPath: config.toml
            readOnly: true
