---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: soulsync
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      soulsync:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: boulderbadgedad/soulsync
              tag: latest@sha256:9c1472a84ca2f58342fd9c833233548b5e4bb8b3f50a5e586ba9b687f000d475
            env:
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 1000
              UMASK: "022"
              FLASK_ENV: production
              PYTHONPATH: /app
              SOULSYNC_CONFIG_PATH: /app/config/config.json
            probes:
              liveness: &probes
                enabled: true
                spec:
                  httpGet:
                    path: /
                    port: 8888
                  initialDelaySeconds: 60
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 500m
                memory: 512Mi
              limits:
                memory: 2Gi
    service:
      app:
        ports:
          http:
            port: &port 8008
          spotify:
            port: 8888
          tidal:
            port: 8889
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Slskd helper
          gethomepage.dev/group: Downloaders
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/config
            subPath: config
          - path: /app/logs
            subPath: logs
          - path: /app/downloads
            subPath: downloads
          - path: /app/data
            subPath: data
      media:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/media
        globalMounts:
          - path: /media
      tmp:
        type: emptyDir
