---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: go2rtc
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name":"multus-iot",
            "namespace": "networking",
            "ips": ["192.168.30.213/24"],
            "mac": "2e:37:2e:6d:ab:66"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      go2rtc:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/alexxit/go2rtc
              tag: 1.9.13
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        controller: go2rtc
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${GO2RTC_LB_IP}
        ports:
          api:
            port: 1984
          rtsp:
            port: 8554
          webrtc:
            port: 8555

    persistence:
      config:
        type: configMap
        name: go2rtc-configmap
        advancedMounts:
          go2rtc:
            app:
              - path: /config/go2rtc.yaml
                subPath: go2rtc.yaml
                readOnly: true
