---
apiVersion: v1
kind: ConfigMap
metadata:
  name: immich-configmap
  namespace: selfhosted
data:
  DB_PORT: "5432"
  LOG_LEVEL: log
  NODE_ENV: "production"
  REDIS_HOSTNAME: immich-redis.selfhosted.svc.cluster.local
  REDIS_PORT: "6379"
  IMMICH_SERVER_URL: http://immich-server.selfhosted.svc.cluster.local:3001
  IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.selfhosted.svc.cluster.local:3003
  PUBLIC_IMMICH_SERVER_URL: https://photos.${SECRET_DOMAIN_INTERNAL}
