---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-library
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: nas.${PUBLIC_DOMAIN}
    path: /mnt/tank/photos
  mountOptions:
    - nfsvers=4.2
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library
  namespace: selfhosted
spec:
  storageClassName: ""
  volumeName: immich-library
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
