---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-valkey
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 2Gi
  storageClassName: ${CLUSTER_STORAGE_BLOCK}
