---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cleanuparr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  driftDetection:
    mode: enabled

  values:
    controllers:
      cleanuparr:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/cleanuparr/cleanuparr
              tag: 2.4.6@sha256:83771985faca07e3fe35f52d2278d9eadd5c63b2e138afb5579887d2d5f0150d
            env:
              TZ: ${TIMEZONE}
              PORT: &port 9705
              DOWNLOAD_CLIENT: disabled
              QUEUECLEANER__ENABLED: true
              QUEUECLEANER__IMPORT_FAILED_MAX_STRIKES: 3
              QUEUECLEANER__STALLED_MAX_STRIKES: 3
              QUEUECLEANER__DOWNLOADING_METADATA_MAX_STRIKES: 3
              QUEUECLEANER__STALLED_RESET_STRIKES_ON_PROGRESS: true
              SONARR__ENABLED: true
              SONARR__INSTANCES__0__URL: http://sonarr:8989
              RADARR__ENABLED: true
              RADARR__INSTANCES__0__URL: http://radarr-movies:7878
    service:
      app:
        controller: cleanuparr
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Downloader Cleaner
          gethomepage.dev/group: Downloaders
          gethomepage.dev/icon: broom
          gethomepage.dev/name: Cleanuparr
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
    persistence:
      config:
        enabled: true
        existingClaim: cleanuparr
        advancedMounts:
          cleanuparr:
            app:
              - path: /config
