---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cleanuparr
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h
  driftDetection:
    mode: enabled

  values:
    controllers:
      cleanuparr:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/cleanuparr/cleanuparr
              tag: 2.6.1@sha256:386d51d84749f41060ebe99fe3ba34772692a99c839eee19899653dd69d4fa37
            env:
              TZ: ${TIMEZONE}
              PORT: &port 9705
              DOWNLOAD_CLIENT: disabled
              QUEUECLEANER__ENABLED: true
              QUEUECLEANER__IMPORT_FAILED_MAX_STRIKES: 3
              QUEUECLEANER__STALLED_MAX_STRIKES: 3
              QUEUECLEANER__DOWNLOADING_METADATA_MAX_STRIKES: 3
              QUEUECLEANER__STALLED_RESET_STRIKES_ON_PROGRESS: true
              SONARR__ENABLED: true
              SONARR__INSTANCES__0__URL: http://sonarr:8989
              RADARR__ENABLED: true
              RADARR__INSTANCES__0__URL: http://radarr-movies:7878
    service:
      app:
        controller: cleanuparr
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Downloader Cleaner
          gethomepage.dev/group: Downloaders
          gethomepage.dev/icon: broom
          gethomepage.dev/name: Cleanuparr
    persistence:
      config:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          cleanuparr:
            app:
              - path: /config
