---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare
  namespace: cert-manager
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cloudflare-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: cloudflare
        property: API_TOKEN
    - extract:
        key: cloudflare
        property: API_TOKEN_TS
    - extract:
        key: cloudflare-sp
        property: API_TOKEN_SP
