---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: kube-system
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: reloader
      version: 2.2.5
      sourceRef:
        kind: HelmRepository
        name: stakater-charts
        namespace: flux-system
