---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: shlink-web
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      shlink-web:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/shlinkio/shlink-web-client
              tag: 4.5.1
            env:
              TIMEZONE: ${TIMEZONE}
              SHLINK_SERVER_URL: https://shlink.${SECRET_DOMAIN_INTERNAL}
            envFrom:
              - secretRef:
                  name: shlink-web-secret
            resources:
              requests:
                cpu: 5m
                memory: 50M
              limits:
                memory: 100M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
    service:
      app:
        controller: shlink-web
        ports:
          http:
            port: 8080
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN_INTERNAL}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Link Sharing Web
          gethomepage.dev/group: Tools
          gethomepage.dev/icon: shlink.png
          gethomepage.dev/name: Shlink Web
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
