---
machine:
  type: controlplane
  install:
    diskSelector:
      model: "Samsung SSD 980 500GB"
    image: factory.talos.dev/metal-installer/49dec2d91f152a19c65a7860e48cb585b6b6972c918273279ba4207a9a1b910d:v1.12.4
  nodeLabels:
    topology.kubernetes.io/zone: m
    node.kubernetes.io/intel-gpu: "true"
  udev:
    rules:
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-cp02
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: link.driver == "ixgbe" && mac(link.permanent_addr).startsWith("6c:92:bf:61:58:ee")
