---
machine:
  type: controlplane
  install:
    diskSelector:
      model: "Samsung SSD 980 500GB"
    image: factory.talos.dev/metal-installer/c85c268119d3b5caca9b2c4070045ce99c7f19dad8650064ea66ee3d010c3169:v1.12.4
  nodeLabels:
    topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-cp03
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr).startsWith("6c:92:bf:60:16:d4")
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net1
selector:
  match: mac(link.permanent_addr).startsWith("6c:92:bf:60:16:d5")
