---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: networking
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: external-dns
      version: 1.15.2
      sourceRef:
        kind: HelmRepository
        name: external-dns-charts
        namespace: flux-system

  values:
    provider: cloudflare
    env:
      - name: CF_API_EMAIL
        valueFrom:
          secretKeyRef:
            name: external-dns-secret
            key: api-email
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: external-dns-secret
            key: api-token
      - name: CF_ZONE_ID
        valueFrom:
          secretKeyRef:
            name: external-dns-secret
            key: zone-id
    extraArgs:
      - --cloudflare-proxied
      - "--zone-id-filter=$(CF_ZONE_ID)"
      - --annotation-filter=external-dns.alpha.kubernetes.io/target
    policy: sync
    sources:
      - service
      - ingress
    txtOwnerId: k8s
    txtPrefix: k8s.
    domainFilters:
      - "${SECRET_DOMAIN_INTERNAL}"
    serviceMonitor:
      enabled: true
    podAnnotations:
      reloader.stakater.com/auto: "true"
