---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app excalidraw
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      excalidraw:
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/excalidraw/excalidraw
              tag: latest@sha256:95d528cb4f8d18e0fbdc42ae3d09b5c4a899bfbd6bb89eeaf94b904330d79714
              pullPolicy: IfNotPresent
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 50Mi
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: ${APP}
    service:
      app:
        controller: excalidraw
        ports:
          http:
            port: &port 80
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - draw.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: excalidraw.png
          gethomepage.dev/name: Excalidraw
          gethomepage.dev/group: Tools
          gethomepage.dev/description: Whiteboarding Tool
          hajimari.io/enable: "true"
          hajimari.io/icon: simple-icons:excalidraw
          hajimari.io/appName: Excalidraw
