---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: windmill
  namespace: selfhosted
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: windmill
      version: 2.0.453
      sourceRef:
        kind: HelmRepository
        name: windmill-charts
        namespace: flux-system

  values:
    app:
      annotations:
        secret.reloader.stakater.com/reload: &secret windmill-secret
    windmill:
      baseDomain: "${HOSTNAME}"
      baseProtocol: https
      appReplicas: 1
      workerReplicas: 1
      lspReplicas: 1
      multiplayerReplicas: 1
      oauthSecretName: *secret
    ingress:
      enabled: true
      className: internal
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/description: Scripting & Automation Tool
        gethomepage.dev/group: Tools
        gethomepage.dev/icon: mdi-script
        gethomepage.dev/name: Windmill
        gethomepage.dev/url: https://"${HOSTNAME}"
      tls:
        - hosts:
            - "${HOSTNAME}"
    postgresql:
      enabled: false
  valuesFrom:
    - kind: Secret
      name: *secret
      valuesKey: WINDMILL_POSTGRES_URL
      targetPath: windmill.databaseUrl
