---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname volsync
  namespace: flux-system
spec:
  targetNamespace: volsync-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: rook-ceph
      namespace: rook-ceph
    - name: snapshot-controller
      namespace: volsync-system
  path: ./kubernetes/apps/volsync-system/volsync/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
