---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
components:
  - ../../components/alerts
  - ../../components/namespace
  - ../../components/repos
  - ../../components/substitutions
