---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: qdrant
  namespace: ai
spec:
  interval: 1h
  url: https://qdrant.github.io/qdrant-helm
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qdrant
  namespace: ai
spec:
  interval: 1h
  chart:
    spec:
      chart: qdrant
      version: 1.15.4
      sourceRef:
        kind: HelmRepository
        name: qdrant
        namespace: ai
  values:
    config:
      service:
        host: "::"

    metrics:
      serviceMonitor:
        enabled: true
