---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname pgadmin
  namespace: flux-system
spec:
  targetNamespace: databases
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/volsync/nfs-nas
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: rook-ceph
      namespace: rook-ceph
    - name: cloudnative-pg-cluster
      namespace: databases
    - name: onepassword
      namespace: external-secrets
  path: ./kubernetes/apps/databases/pgadmin/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
