---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbtools
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m
  driftDetection:
    mode: enabled

  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        runAsUser: 1000
        runAsGroup: 568
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      prune:
        type: cronjob
        cronjob: &cronJobSpec
          schedule: "@hourly"
          concurrencyPolicy: Forbid
          successfulJobsHistory: 0
          failedJobsHistory: 1
        pod:
          restartPolicy: Never
        initContainers:
          tagging: &container
            image:
              repository: ghcr.io/buroa/qbtools
              tag: v0.21.2
            env:
              QBITTORRENT_HOST: qbittorrent.media.svc.cluster.local
              QBITTORRENT_PORT: 8080
            args:
              - tagging
              - --added-on
              - --expired
              - --last-activity
              - --sites
              - --unregistered
              - --not-linked
            resources:
              requests:
                memory: 128Mi
                cpu: 25m
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        containers:
          expired:
            <<: *container
            args:
              - prune
              - --exclude-category
              - manual
              - --exclude-category
              - cross-seed
              - --exclude-tag
              - added:24h
              - --include-tag
              - expired
          unregistered:
            <<: *container
            args:
              - prune
              - --exclude-category
              - manual
              - --exclude-category
              - cross-seed
              - --exclude-tag
              - added:24h
              - --include-tag
              - unregistered
      orphaned:
        type: cronjob
        cronjob:
          <<: *cronJobSpec
          schedule: "@daily"
        pod:
          restartPolicy: OnFailure
        containers:
          app:
            <<: *container
            args:
              - orphaned
              - --exclude-pattern
              - "*/manual/*"
              - --exclude-pattern
              - "*/cross-seed/*"
      reannounce:
        containers:
          app:
            <<: *container
            args:
              - reannounce
              - --process-seeding
    persistence:
      config-file:
        type: secret
        name: qbtools-secret
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
      media:
        enabled: true
        existingClaim: nfs-media
        advancedMounts:
          orphaned:
            app:
              - path: /media
