---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mosquitto
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      mosquitto:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          # annotations:
          #   k8s.v1.cni.cncf.io/networks: |
          #     [{
          #       "name":"multus-iot",
          #       "namespace": "networking",
          #       "ips": ["192.168.30.224/24","fdad:cafe:830::224/112"]
          #     }]
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22@sha256:077fe4ff4c49df1e860c98335c77dda08360629e0e2a718147027e4db3eace9d
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 100Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: mosquitto
        type: LoadBalancer
        ipFamilyPolicy: PreferDualStack
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "mqtt.${SECRET_DOMAIN_INTERNAL}"
          lbipam.cilium.io/ips: "${MOSQUITTO_LB_IP},fdad:cafe:811::61"
        externalTrafficPolicy: Local
        ipFamilies: [IPv4, IPv6]
        ports:
          mqtt:
            primary: true
            port: 1883
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
      settings:
        type: configMap
        name: mosquitto-configmap
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
