---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radarr
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      radarr:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: radarr-secret
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.1.0.10309@sha256:10f94c85f605d42e5e78de928f24758b5750a4e99eee8d0ef9ff150f7a2df033
            env:
              TZ: ${TIMEZONE}
              RADARR__AUTHENTICATION_METHOD: External
              RADARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses
              RADARR__INSTANCE_NAME: Radarr
              RADARR__PORT: &port 7878
              RADARR__LOG_LEVEL: info
              RADARR__THEME: dark
            envFrom:
              - secretRef:
                  name: radarr-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 1024M
      radarr-concerts:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: radarr-concerts-secret
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.1.0.10309@sha256:10f94c85f605d42e5e78de928f24758b5750a4e99eee8d0ef9ff150f7a2df033
            env:
              TZ: ${TIMEZONE}
              RADARR__AUTHENTICATION_METHOD: External
              RADARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses
              RADARR__INSTANCE_NAME: Radarr-Concerts
              RADARR__PORT: *port
              RADARR__LOG_LEVEL: info
              RADARR__THEME: dark
            envFrom:
              - secretRef:
                  name: radarr-concerts-secret
            probes:
              liveness: *probes
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 1024M
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values: ["sonarr"]
                  topologyKey: kubernetes.io/hostname
    service:
      movies:
        controller: radarr
        ports:
          http:
            port: *port
      concerts:
        controller: radarr-concerts
        ports:
          http:
            port: *port
    route:
      movies:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN_INTERNAL}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Movies Downloader
          gethomepage.dev/group: Downloaders
          gethomepage.dev/icon: radarr.png
          gethomepage.dev/name: Radarr
          gethomepage.dev/widget.type: radarr
          gethomepage.dev/widget.url: "http://radarr.media.svc.cluster.local:7878"
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_RADARR_TOKEN}}` }}"
      concerts:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN_INTERNAL}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Concerts Downloader
          gethomepage.dev/group: Downloaders
          gethomepage.dev/icon: radarr.png
          gethomepage.dev/name: Radarr-Concerts
          gethomepage.dev/widget.type: radarr
          gethomepage.dev/widget.url: "http://radarr-concerts.media.svc.cluster.local:7878"
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_RADARR_TOKEN}}` }}"
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          radarr:
            app:
              - path: /config
      config-concerts:
        existingClaim: "{{ .Release.Name }}-concerts"
        advancedMounts:
          radarr-concerts:
            app:
              - path: /config
      media:
        existingClaim: nfs-media
        globalMounts:
          - path: /media
