---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radarr
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        supplementalGroups:
          - 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      radarr:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: radarr-secret
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.1.1.10317@sha256:dc191495299b0adf19f4347ffe35f773c56a04d71e38a1f06aa564547b6e799e
            env:
              TZ: ${TIMEZONE}
              RADARR__APP__INSTANCENAME: Radarr
              RADARR__APP__THEME: dark
              RADARR__AUTH__METHOD: External
              RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
              RADARR__LOG__DBENABLED: "False"
              RADARR__LOG__LEVEL: info
              RADARR__SERVER__PORT: &port 80
              RADARR__UPDATE__BRANCH: develop
            envFrom:
              - secretRef:
                  name: radarr-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
        # radarr-concerts:
        #   annotations:
        #     reloader.stakater.com/auto: "true"
        #   initContainers:
        #     init-db:
        #       image:
        #         repository: ghcr.io/home-operations/postgres-init
        #         tag: 17.6.0
        #         pullPolicy: IfNotPresent
        #       envFrom:
        #         - secretRef:
        #             name: radarr-concerts-secret
        #   containers:
        #     app:
        #       image:
        #         repository: ghcr.io/home-operations/radarr
        #         tag: 6.1.0.10316@sha256:ba33a817917792a589f1223e2da9d336692f9eb626b15ff8c7f06afcab4356bd
        #       env:
        #         TZ: ${TIMEZONE}
        #         RADARR__APP__INSTANCENAME: Radarr-Concerts
        #         RADARR__APP__THEME: dark
        #         RADARR__AUTH__METHOD: External
        #         RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
        #         RADARR__LOG__DBENABLED: "False"
        #         RADARR__LOG__LEVEL: info
        #         RADARR__SERVER__PORT: &port2 81
        #       envFrom:
        #         - secretRef:
        #             name: radarr-concerts-secret
        #       probes:
        #         liveness: &probes
        #           enabled: true
        #           custom: true
        #           spec:
        #             httpGet:
        #               path: /ping
        #               port: *port
        #             initialDelaySeconds: 0
        #             periodSeconds: 10
        #             timeoutSeconds: 1
        #             failureThreshold: 3
        #         readiness: *probes
        #       securityContext:
        #         allowPrivilegeEscalation: false
        #         readOnlyRootFilesystem: true
        #         capabilities: { drop: ["ALL"] }
        #       resources:
        #         requests:
        #           cpu: 100m
        #         limits:
        #           memory: 2Gi
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values: ["sonarr"]
                  topologyKey: kubernetes.io/hostname
    service:
      app:
        controller: radarr
        ports:
          http:
            port: *port
      # concerts:
      #   controller: radarr-concerts
      #   ports:
      #     http:
      #       port: *port2
    route:
      movies:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Movies Downloader
          gethomepage.dev/group: Downloaders
          gethomepage.dev/icon: radarr.png
          gethomepage.dev/name: Radarr
          gethomepage.dev/widget.type: radarr
          gethomepage.dev/widget.url: "http://radarr-movies.media.svc.cluster.local:7878"
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_RADARR_TOKEN}}` }}"
      # concerts:
      #   hostnames:
      #     - "{{ .Release.Name }}-concerts.${SECRET_DOMAIN}"
      #   parentRefs:
      #     - name: envoy-internal
      #       namespace: networking
      #       sectionName: https
      #   rules:
      #     - backendRefs:
      #         - name: radarr-concerts
      #           port: *port2
      #   annotations:
      #     gethomepage.dev/enabled: "true"
      #     gethomepage.dev/description: Concerts Downloader
      #     gethomepage.dev/group: Downloaders
      #     gethomepage.dev/icon: radarr.png
      #     gethomepage.dev/name: Radarr-Concerts
      #     gethomepage.dev/widget.type: radarr
      #     gethomepage.dev/widget.url: "http://radarr-concerts.media.svc.cluster.local:7878"
      #     gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_RADARR_TOKEN}}` }}"
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          radarr:
            app:
              - path: /config
      # config-concerts:
      #   existingClaim: "{{ .Release.Name }}-concerts"
      #   advancedMounts:
      #     radarr-concerts:
      #       app:
      #         - path: /config
      media:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/media
        globalMounts:
          - path: /media
      tmp:
        type: emptyDir
