---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-concerts
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 10Gi
  storageClassName: ${CLUSTER_STORAGE_BLOCK}
