---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mmp-library
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: nas.${SECRET_DOMAIN}
    path: /mnt/tank/maker/library
  mountOptions:
    - nfsvers=4.2
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mmp-library
  namespace: selfhosted
spec:
  storageClassName: ""
  volumeName: mmp-library
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
