---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: satisfactory
  namespace: gaming
spec:
  interval: 30m
  timeout: 15m
  chart:
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      satisfactory:
        type: statefulset
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/wolveix/satisfactory-server
              tag: v1.9.10@sha256:e103700ae6ae4c50f19dac80eadb2a805c5b885e179ae2a40850e967bf189efd
            resources:
              requests:
                cpu: 100m
                memory: 4Gi
              limits:
                memory: 12Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            env:
              TZ: ${TIMEZONE}
              ROOTLESS: "true"
              AUTOPAUSE: "true"
              AUTOSAVEINTERVAL: "60"
              AUTOSAVENUM: "60"
              AUTOSAVEONDISCONNECT: "true"
              CRASHREPORT: "false"
              MAXPLAYERS: "4"
              MAXTICKRATE: "120" # default is a low 30
              NETWORKQUALITY: "3" # 0-3, 3 is Ultra (default)
              TIMEOUT: "300"
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
    service:
      app:
        controller: satisfactory
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: satisfactory.${SECRET_DOMAIN_INTERNAL}
          lbipam.cilium.io/ips: ${SATISFACTORY_LB_IP},${SATISFACTORY_LB_IP_V6}
        ipFamilyPolicy: PreferDualStack
        ports:
          game-udp:
            primary: true
            port: 7777
            protocol: UDP
          game-tcp:
            port: 7777
            protocol: TCP
          messaging-tcp:
            port: 8888
            protocol: TCP
    persistence:
      data:
        existingClaim: satisfactory-data
        globalMounts:
          - path: /config
      game:
        existingClaim: satisfactory-game
        globalMounts:
          - subPath: game
            path: /config/gamefiles
      backup:
        existingClaim: nfs-games
        globalMounts:
          - path: /backup
