---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: actions-runner-controller
  namespace: actions-runner-system
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: actions-runner-controller-secret
    template:
      data:
        github_app_id: "{{ .ACTIONS_RUNNER_APP_ID }}"
        github_app_installation_id: "{{ .ACTIONS_RUNNER_INSTALLATION_ID }}"
        github_app_private_key: "{{ .ACTIONS_RUNNER_PRIVATE_KEY }}"
  dataFrom:
    - extract:
        key: actions-runner-controller
