---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname wizarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: rook-ceph
      namespace: rook-ceph-cluster
    - name: external-secrets-stores
      namespace: external-secrets
  path: ./kubernetes/apps/media/wizarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: join.${SECRET_DOMAIN_INTERNAL}
      VOLSYNC_CLAIM: *appname
