---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: kube-system
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 1.2.8
      sourceRef:
        kind: HelmRepository
        name: postfinance-charts
        namespace: flux-system

  valuesFrom:
    - kind: ConfigMap
      name: kubelet-csr-approver-helm-values
  values:
    metrics:
      enable: true
      serviceMonitor:
        enabled: true
