---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: linkding
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      linkding:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        pod:
          enableServiceLinks: false
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
            envFrom: &envFrom
              - secretRef:
                  name: linkding-secret
        containers:
          app:
            image:
              repository: sissbruecker/linkding
              tag: 1.44.1
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
                memory: 100M
              limits:
                memory: 250M
    service:
      app:
        controller: linkding
        ports:
          http:
            port: 9090
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enable: "true"
          gethomepage.dev/icon: mdi-bookmark
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
