---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: readmeabook
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      readmeabook:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kikootwo/readmeabook
              tag: 1.0.8@sha256:40510ad8e0222be5e927860437d174f4d6ee2e69ebad35d0b94f3fcc510db443
            env:
              PUBLIC_URL: "https://readmeabook.${SECRET_DOMAIN}"
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 1000
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 3030
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        controller: readmeabook
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Audiobook Manager
          gethomepage.dev/group: Media
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          readmeabook:
            app:
              - path: /app/config
                subPath: config
              - path: /app/cache
                subPath: cache
              - path: /var/lib/postgresql/data
                subPath: postgres
              - path: /var/lib/redis
                subPath: redis
      media:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/media
        globalMounts:
          - path: /media
