---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: readmeabook
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      readmeabook:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kikootwo/readmeabook
              tag: 1.0.2@sha256:edda00ffea586bb4d97299daa854c8d9fc10d55add1661aced1418cbbf9599af
            env:
              PUBLIC_URL: "https://readmeabook.${SECRET_DOMAIN}"
              TZ: ${TIMEZONE}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 3030
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    service:
      app:
        controller: readmeabook
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Audiobook Manager
          gethomepage.dev/group: Media
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          readmeabook:
            app:
              - path: /app/config
                subPath: config
              - path: /app/cache
                subPath: cache
              - path: /var/lib/postgresql/data
                subPath: postgres
              - path: /var/lib/redis
                subPath: redis
      media:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/media
        globalMounts:
          - path: /media
