---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname volsync-maintenance
  namespace: flux-system
spec:
  targetNamespace: volsync-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: volsync
  path: ./kubernetes/apps/volsync-system/volsync-maintenance/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
