---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app drawio
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      drawio:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/jgraph/drawio
              tag: 29.5.1
    service:
      app:
        controller: drawio
        ports:
          http:
            port: &port 8080
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - diagrams.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: si-daigrams.net
          gethomepage.dev/name: Drawio
          gethomepage.dev/group: Tools
          gethomepage.dev/description: Diagramming Tool
          hajimari.io/enable: "true"
          hajimari.io/icon: simple-icons:diagramsdotnet
          hajimari.io/appName: Drawio
