---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: scrypted
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    defaultPodOptions:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
    controllers:
      scrypted:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 568

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/scrypted
              tag: 0.141.0@sha256:c9e82faec2e27debeba03fd8d4bdb2aa53cdaf0f3f8aa77c04312a047db4c2ea
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 136m
                memory: 1024Mi
              limits:
                memory: 8192Mi

    service:
      app:
        controller: scrypted
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${SCRYPTED_LB_IP}
        labels:
          io.cilium/lb-ipam-layer2: "true"
        ports:
          http:
            port: 11080
            primary: true
          rebroadcast1:
            port: 37861
          rebroadcast2:
            port: 37862
        ipFamilyPolicy: PreferDualStack

    ingress:
      app:
        className: "internal"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: NVR
          gethomepage.dev/group: Home
          gethomepage.dev/icon: scrypted.png
          gethomepage.dev/name: Scrypted
        hosts:
          - host: scrypted.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: scrypted
        advancedMounts:
          scrypted:
            app:
              - path: /server/volume
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
      cache-npm:
        type: emptyDir
        globalMounts:
          - path: /.npm
      recs:
        existingClaim: nfs-nvr
        advancedMounts:
          scrypted:
            app:
              - path: /recs
