---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-server
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      immich-server:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: immich-secret
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65541
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1
            env:
              TZ: ${TIMEZONE}
              IMMICH_PORT: &port 3001
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2048Mi
    service:
      app:
        controller: immich-server
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - photos.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          # nignx.ingress.kubernetes.io/force-ssl-redirect: "true"
          # nginx.ingress.kubernetes.io/proxy-body-size: "0"
          # nginx.ingress.kubernetes.io/upstream-hash-by: "$client_ip"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Photo Gallery
          gethomepage.dev/group: Home
          gethomepage.dev/icon: immich.png
          gethomepage.dev/name: Immich
          gethomepage.dev/url: https://photos.${SECRET_DOMAIN}
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.fields: '["photos", "videos", "storage"]'
          gethomepage.dev/widget.url: https://photos.${SECRET_DOMAIN}
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_IMMICH_API_KEY}}` }}"
    persistence:
      library:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/photos
        globalMounts:
          - path: /usr/src/app/upload
