---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: govee2mqtt
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: govee2mqtt-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        GOVEE_EMAIL: "{{ .GOVEE_EMAIL }}"
        GOVEE_PASSWORD: "{{ .GOVEE_PASSWORD }}"
  dataFrom:
    - extract:
        key: govee2mqtt
