---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: govee2mqtt
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name":"multus-iot",
            "namespace": "networking",
            "ips": ["192.168.30.211/24"],
            "mac": "2e:37:2e:6d:ab:55"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      govee2mqtt:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              TZ: ${TIMEZONE}
              GOVEE_MQTT_HOST: mosquitto
              GOVEE_MQTT_PORT: 1883
              GOVEE_TEMPERATURE_SCALE: "C"
            envFrom:
              - secretRef:
                  name: govee2mqtt-secret
            image:
              repository: ghcr.io/wez/govee2mqtt
              tag: 2025.11.25-60a39bcc@sha256:51beba0e5104a21b3955cec166519293a12b4f8b60275177b2813fca1d08e437
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    persistence:
      config:
        existingClaim: govee2mqtt
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir
