---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx-internal
  namespace: networking
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.13.5
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx-charts
        namespace: flux-system

  values:
    fullnameOverride: ${APP}
    controller:
      replicaCount: 2
      allowSnippetAnnotations: true
      admissionWebhooks:
        objectSelector:
          matchExpressions:
            - key: ingress-class
              operator: In
              values: ["internal"]
      config:
        client-body-buffer-size: 100M
        client-body-timeout: 2m
        client-header-timeout: 2m
        enable-brotli: true
        enable-ocsp: true
        enable-real-ip: true
        hsts-max-age: 31449600
        keep-alive-requests: 10000
        keep-alive: 2m
        proxy-body-size: 0
        proxy-buffer-size: 16k
        proxy-busy-buffers-size: 16k
        proxy-read-timeout: 7d
        proxy-send-timeout: 7d
        ssl-protocols: TLSv1.3 TLSv1.2
        use-forwarded-headers: true
        proxy-real-ip-cidr: ${CLUSTER_POD_IP_CIDR},${CLUSTER_POD_IP_CIDR_V6}
      extraArgs:
        default-ssl-certificate: networking/wildcard-tls
      ingressClass: internal
      ingressClassResource:
        name: internal
        default: true
        controllerValue: k8s.io/internal
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          namespace: networking
          namespaceSelector:
            any: true
      resources:
        requests:
          cpu: 10m
          memory: 256M
        limits:
          memory: 512M
      service:
        annotations:
          lbipam.cilium.io/ips: ${INGRESS_INT_LB_IP}
          external-dns.alpha.kubernetes.io/hostname: internal.${SECRET_DOMAIN_INTERNAL}
        labels:
          io.cilium/lb-ipam-layer2: "true"
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: ${APP}
              app.kubernetes.io/component: controller
    defaultBackend:
      enabled: true
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 3.7.1
      extraEnvs:
        - { name: TEMPLATE_NAME, value: orient }
        - { name: SHOW_DETAILS, value: "false" }
      resources:
        requests:
          memory: 250Mi
          cpu: 25m
        limits:
          memory: 350Mi
