---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: slskd
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      slskd:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/slskd/slskd
              tag: 0.24.4@sha256:4031fc99b824ed2eec3bdbd92914fe6071539f3f71f0742052276afc2c69353d
            env:
              DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
              TZ: ${TIMEZONE}
              SLSKD_APP_DIR: /config
              SLSKD_HTTP_PORT: &port 80
              SLSKD_NO_AUTH: true
              SLSKD_NO_HTTPS: true
              SLSKD_NO_VERSION_CHECK: true
              SLSKD_SLSK_LISTEN_PORT: &soulseekPort 50429
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
                spec:
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: *port
      soulseek:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${SLSKD_LB_IP}
        externalTrafficPolicy: Local
        ports:
          soulseek-tcp:
            port: *soulseekPort
            protocol: TCP
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Individual Music Downloader
          gethomepage.dev/group: Downloaders
    configMaps:
      config:
        data:
          slskd.yml: |-
            directories:
              downloads: /media/downloads/soulseek/complete
              incomplete: /media/downloads/soulseek/incomplete
            permissions:
              file:
                mode: 750
            shares:
              directories:
                - /media/downloads/soulseek/shared
              filters:
                - \.ini$
                - Thumbs.db$
                - \.DS_Store$
    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/slskd.yml
            subPath: slskd.yml
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/media
        globalMounts:
          - path: /media
      tmp:
        type: emptyDir
