---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: "${APP}-dst"
spec:
  trigger:
    manual: restore-once
  restic:
    repository: ${APP}-volsync-restic-secret
    copyMethod: Snapshot
    accessModes: ["ReadWriteOnce"]
    storageClassName: ${CLUSTER_STORAGE_BLOCK}
    volumeSnapshotClassName: ${CLUSTER_SNAPSHOT_BLOCK}
    cacheAccessModes: ["ReadWriteOnce"]
    cacheCapacity: 8Gi
    cacheStorageClassName: ${CLUSTER_STORAGE_HOSTPATH}
    moverSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      supplementalGroups:
        - 568
    capacity: "${VOLSYNC_CAPACITY:=5Gi}"
