---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app readarr-audiobooks
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      readarr-audiobooks:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        statefulset:
          volumeClaimTemplates:
            - name: config
              accessMode: ReadWriteOnce
              size: 2Gi
              storageClass: ${CLUSTER_STORAGE_BLOCK}
              globalMounts:
                - path: /config
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 10000
              - 568
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: readarr-audiobooks-secret
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/readarr
              tag: 0.4.18.2805
            env:
              TZ: ${TIMEZONE}
              READARR__INSTANCE_NAME: Readarr Audiobooks
              READARR__PORT: &port 8686
              READARR__APPLICATION_URL: "audiobooks.${SECRET_DOMAIN}"
              READARR__LOG_LEVEL: info
              READARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses
              READARR__THEME: dark
            envFrom:
              - secretRef:
                  name: readarr-audiobooks-secret
            resources:
              requests:
                cpu: 10m
                memory: 250M
              limits:
                memory: 2000Mi
    service:
      app:
        controller: readarr-audiobooks
        ports:
          http:
            port: *port
    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /ping
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Audiobooks Downloader
          gethomepage.dev/group: Downloaders
          gethomepage.dev/icon: mdi:book-music
          gethomepage.dev/name: Readarr (Audiobooks)
    persistence:
      media:
        existingClaim: nfs-media
        globalMounts:
          - path: /media
