---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr-node
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m
  driftDetection:
    mode: enabled

  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: intel.feature.node.kubernetes.io/gpu
                  operator: In
                  values:
                    - "true"
    controllers:
      tdarr-node:
        containers:
          app:
            image:
              repository: haveagitgat/tdarr_node
              tag: 2.50.02@sha256:54ac4196091993328a1c5f4e3dd2145cf3c4bb44590ea8b1e0a972292d7af63d
            env:
              - name: nodeID
                value: kube-node
              - name: serverIP
                value: tdarr-server.media.svc.cluster.local
              - name: serverPort
                value: 8266
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values: ["jellyfin"]
                  topologyKey: kubernetes.io/hostname
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      media:
        existingClaim: nfs-media
        globalMounts:
          - path: /media
