---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-vecto
  namespace: databases
spec:
  instances: 3
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16-0.5.3
  inheritedMetadata:
    annotations:
      kyverno.io/exclude: "true"
  primaryUpdateStrategy: unsupervised
  storage:
    size: 10Gi
    storageClass: ${CLUSTER_STORAGE_HOSTPATH}
  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg-secret
  postgresql:
    parameters:
      max_connections: "600"
      shared_buffers: 512MB
    shared_preload_libraries:
      - "vchord.so"
  resources:
    requests:
      cpu: 500m
    limits:
      memory: 4Gi
  monitoring:
    enablePodMonitor: true
  bootstrap:
    recovery:
      source: postgres-vecto-v25
  backup:
    retentionPolicy: 14d
    barmanObjectStore:
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: s3://postgresql/
      endpointURL: https://nas.${PUBLIC_DOMAIN}:9000
      serverName: postgres-vecto-v26
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg-secret
          key: AWS_ACCESS_KEY_ID
        secretAccessKey:
          name: cloudnative-pg-secret
          key: AWS_SECRET_ACCESS_KEY
  externalClusters:
    - name: postgres-vecto-v25
      barmanObjectStore:
        wal:
          compression: bzip2
          maxParallel: 8
        destinationPath: s3://postgresql/
        endpointURL: https://nas.${PUBLIC_DOMAIN}:9000
        s3Credentials:
          accessKeyId:
            name: cloudnative-pg-secret
            key: AWS_ACCESS_KEY_ID
          secretAccessKey:
            name: cloudnative-pg-secret
            key: AWS_SECRET_ACCESS_KEY
