---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: it-tools
  namespace: dev
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  driftDetection:
    mode: enabled

  values:
    controllers:
      it-tools:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/corentinth/it-tools
              tag: latest@sha256:8b8128748339583ca951af03dfe02a9a4d7363f61a216226fc28030731a5a61f
            env:
              TZ: "${TIMEZONE}"
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
    service:
      app:
        controller: it-tools
        ports:
          http:
            port: 80
    ingress:
      app:
        enabled: true
        className: "external"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: mdi-hammer-wrench
          gethomepage.dev/name: IT Tools
          gethomepage.dev/group: Tools
          gethomepage.dev/description: IT Dev and Sysadmin Tools
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.security.svc.cluster.local:9091/api/authz/auth-request
          nginx.ingress.kubernetes.io/auth-signin: https://auth.${PRIVATE_DOMAIN}?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
          external-dns.alpha.kubernetes.io/target: external.${PRIVATE_DOMAIN}
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:tools
          hajimari.io/appName: IT Tools
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
