---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: clickops
  namespace: tools
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      clickops:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/whazor/clickops
              tag: v0.0.2@sha256:ca764fc302afd14e0aa31b2195bc2ee1a9ddf53d32aa046abd6137973018865d
            resources:
              requests:
                memory: 100Mi
                cpu: 25m
              limits:
                memory: 256Mi
            env:
              TZ: ${TIMEZONE}
              # not used
              __PORT: &port 3000
              __HOST: &host "clickops.${SECRET_DOMAIN_INTERNAL}"
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probe
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        pod:
          automountServiceAccountToken: true
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups: [1000]
    serviceAccount:
      name: clickops
    service:
      app:
        controller: &name clickops
        ports:
          http:
            port: *port
    ingress:
      app:
        className: internal
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Kube Management
          gethomepage.dev/group: Tools
          gethomepage.dev/icon: mouse
          gethomepage.dev/name: ClickOps
