---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ocis
  namespace: selfhosted
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  driftDetection:
    mode: enabled

  values:
    controllers:
      ocis:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/owncloud/ocis
              tag: 7.0.0
            command: [/bin/sh]
            args: ["-c", "ocis init || true; ocis server"]
            env:
              TZ: ${TIMEZONE}
              OCIS_INSECURE: true
              OCIS_URL: https://files.${PRIVATE_DOMAIN}
              PROXY_TLS: false
              DEMO_USERS: false
              PROXY_HTTP_ADDR: 0.0.0.0:9200
              OCIS_LOG_LEVEL: info
              OCIS_LOG_COLOR: true
              OCIS_LOG_PRETTY: true
              PROXY_DEBUG_ADDR: 0.0.0.0:9205
              STORAGE_USERS_OCIS_ROOT: /data
              NOTIFICATIONS_SMTP_HOST: "${SMTP_RELAY_IP}"
              NOTIFICATIONS_SMTP_PORT: "2525"
              NOTIFICATIONS_SMTP_SENDER: "ocis@${PRIVATE_DOMAIN}"
              NOTIFICATIONS_SMTP_INSECURE: true
              # Authelia OIDC
              WEB_OIDC_METADATA_URL: https://auth.${PRIVATE_DOMAIN}/.well-known/openid-configuration
              OCIS_OIDC_ISSUER: https://auth.${PRIVATE_DOMAIN}
              WEB_OIDC_CLIENT_ID: ocis
              # Without this, I got the following errors in the ownCloud log:
              # Authelia: failed to verify access token: token contains an invalid number of segments
              # Authentik:  failed to verify access token: the JWT has an invalid kid: could not find kid in JWT header
              PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none
              PROXY_OIDC_REWRITE_WELLKNOWN: true
              PROXY_AUTOPROVISION_ACCOUNTS: true
              # Auto role assignment
              # docs: https://doc.owncloud.com/ocis/next/deployment/services/s-list/proxy.html#automatic-role-assignments
              PROXY_USER_OIDC_CLAIM: "preferred_username"
              PROXY_ROLE_ASSIGNMENT_DRIVER: oidc
              WEB_OIDC_SCOPE: "openid profile email groups"
              PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM: groups
            envFrom:
              - secretRef:
                  name: ocis-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
    service:
      app:
        controller: ocis
        ports:
          http:
            port: 9200
            primary: true
          metrics:
            port: 9205
    serviceMonitor:
      app:
        serviceName: ocis
        endpoints:
          - port: metrics
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: File Sharing
          gethomepage.dev/group: Home
          gethomepage.dev/icon: owncloud.png
          gethomepage.dev/name: OCIS
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
    persistence:
      storage-users:
        type: nfs
        server: nas.${PRIVATE_DOMAIN}
        path: /mnt/data/media-data/media/ocis
        globalMounts:
          - path: /data
            subPath: storage-users
      data:
        type: nfs
        server: nas.${PRIVATE_DOMAIN}
        path: /mnt/data/media-data/media/ocis
        globalMounts:
          - path: /etc/ocis
            subPath: config
          - path: /var/lib/ocis
            subPath: data
      config-proxy:
        type: configMap
        name: ocis-configmap
        globalMounts:
          - path: /etc/ocis/proxy.yaml
            subPath: proxy.yaml
            readOnly: true
