---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ocis
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      ocis:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/owncloud/ocis
              tag: 7.3.1
            command: [/bin/sh]
            args: ["-c", "ocis init || true; ocis server"]
            env:
              TZ: ${TIMEZONE}
              OCIS_INSECURE: true
              OCIS_URL: https://files.${SECRET_DOMAIN_INTERNAL}
              PROXY_TLS: false
              DEMO_USERS: false
              PROXY_HTTP_ADDR: 0.0.0.0:9200
              OCIS_LOG_LEVEL: info
              OCIS_LOG_COLOR: true
              OCIS_LOG_PRETTY: true
              PROXY_DEBUG_ADDR: 0.0.0.0:9205
              STORAGE_USERS_OCIS_ROOT: /data
              NOTIFICATIONS_SMTP_HOST: "${SMTP_RELAY_IP}"
              NOTIFICATIONS_SMTP_PORT: "2525"
              NOTIFICATIONS_SMTP_SENDER: "ocis@${SECRET_DOMAIN_INTERNAL}"
              NOTIFICATIONS_SMTP_INSECURE: true
              # Authelia OIDC
              WEB_OIDC_METADATA_URL: https://auth.${SECRET_DOMAIN_INTERNAL}/.well-known/openid-configuration
              OCIS_OIDC_ISSUER: https://auth.${SECRET_DOMAIN_INTERNAL}
              WEB_OIDC_CLIENT_ID: ocis
              # Without this, I got the following errors in the ownCloud log:
              # Authelia: failed to verify access token: token contains an invalid number of segments
              # Authentik:  failed to verify access token: the JWT has an invalid kid: could not find kid in JWT header
              PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none
              PROXY_OIDC_REWRITE_WELLKNOWN: true
              PROXY_AUTOPROVISION_ACCOUNTS: true
              # Auto role assignment
              # docs: https://doc.owncloud.com/ocis/next/deployment/services/s-list/proxy.html#automatic-role-assignments
              PROXY_USER_OIDC_CLAIM: "preferred_username"
              PROXY_ROLE_ASSIGNMENT_DRIVER: oidc
              WEB_OIDC_SCOPE: "openid profile email groups"
              PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM: groups
            envFrom:
              - secretRef:
                  name: ocis-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
    service:
      app:
        controller: ocis
        ports:
          http:
            port: 9200
            primary: true
          metrics:
            port: 9205
    serviceMonitor:
      app:
        serviceName: ocis
        endpoints:
          - port: metrics
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: File Sharing
          gethomepage.dev/group: Home
          gethomepage.dev/icon: owncloud.png
          gethomepage.dev/name: OCIS
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
    persistence:
      storage-users:
        existingClaim: nfs-documents
        globalMounts:
          - path: /data
            subPath: ocis/storage-users
      data:
        existingClaim: nfs-documents
        globalMounts:
          - path: /etc/ocis
            subPath: ocis/config
          - path: /var/lib/ocis
            subPath: ocis/data
      config-proxy:
        type: configMap
        name: ocis-configmap
        globalMounts:
          - path: /etc/ocis/proxy.yaml
            subPath: proxy.yaml
            readOnly: true
