---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hoarder
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      hoarder:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/hoarder-app/hoarder
              tag: 0.27.1@sha256:abd7d6b11b1b8fa3593d1971f886a74850ba8d6a99291218b150207d5a60378e
            env:
              DATA_DIR: /data
              MEILI_ADDR: http://hoarder-meilisearch:7700
              BROWSER_WEB_URL: http://hoarder-chrome:9222
              NEXTAUTH_URL: https://hoarder.${SECRET_DOMAIN_INTERNAL}
              # OAuth setup
              OAUTH_PROVIDER_NAME: Authelia
              OAUTH_WELLKNOWN_URL: https://auth.${SECRET_DOMAIN_INTERNAL}/.well-known/openid-configuration
              DISABLE_PASSWORD_AUTH: "true"
            envFrom: &envFrom
              - secretRef:
                  name: hoarder-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 750Mi
          meilisearch:
            image:
              repository: getmeili/meilisearch
              tag: v1.10.3@sha256:9d1b9b02fe6c68f60b54ce40092d8078f051b9341c400c90f907607636b7c9c1
            env:
              MEILI_NO_ANALYTICS: "true"
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
          chrome:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124@sha256:1a0046448e0bb6c275c88f86e01faf0de62b02ec8572901256ada0a8c08be23f
            command:
              - chromium-browser
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
    service:
      app:
        controller: hoarder
        ports:
          http:
            port: 3000
      chrome:
        controller: hoarder
        ports:
          http:
            port: 9222
      meilisearch:
        controller: hoarder
        ports:
          http:
            port: 7700
    ingress:
      app:
        enabled: true
        className: "internal"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: si-bookmark
          gethomepage.dev/name: Hoarder
          gethomepage.dev/group: Tools
          gethomepage.dev/description: Saved Web Content
        hosts:
          - host: hoarder.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - hoarder.${SECRET_DOMAIN_INTERNAL}
    persistence:
      config:
        existingClaim: hoarder
        advancedMounts:
          hoarder:
            app:
              - path: /data
                subPath: data
            meilisearch:
              - path: /meili_data
                subPath: meili_data
