---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app netalertx
  namespace: observability
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        supplementalGroups:
          - 100 # Users
    controllers:
      netalertx:
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["192.168.30.225/24"]
              }
              ]
        containers:
          app:
            image:
              repository: jokobsk/netalertx
              tag: 25.11.29
            env:
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 1000
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 384M
              limits:
                memory: 1300M
    service:
      app:
        controller: netalertx
        ports:
          http:
            port: &port 20211
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN_INTERNAL}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      data:
        existingClaim: netalertx-db
        globalMounts:
          - path: /app/db
