---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflared
  namespace: networking
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudflared-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        CLOUDFLARE_TUNNEL_ID: "{{ .TunnelID }}"
        credentials.json: |
          {
            "AccountTag": "{{ .AccountTag }}",
            "TunnelSecret": "{{ .TunnelSecret }}",
            "TunnelID": "{{ .TunnelID }}"
          }
  data:
    - secretKey: TunnelID
      remoteRef:
        key: cloudflare-sp
        property: TUNNEL_ID
    - secretKey: TunnelSecret
      remoteRef:
        key: cloudflare-sp
        property: TUNNEL_SECRET
    - secretKey: AccountTag
      remoteRef:
        key: cloudflare-sp
        property: ACCOUNT_ID
