---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dnd-tools
  namespace: gaming
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      hostname: *app
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      dnd-tools:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/5etools-mirror-3/5etools-src
              tag: 2.24.3
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 500Mi
            env:
              TZ: ${TIMEZONE}
    service:
      app:
        controller: dnd-tools
        ports:
          http:
            port: &port 80
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: DnD 5e Tools
          gethomepage.dev/group: Tabletop
          gethomepage.dev/icon: mdi-dice-d20-outline
          gethomepage.dev/name: DnD Tools
