---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &appname dnd-tools
  namespace: gaming
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    defaultPodOptions:
      hostname: *appname
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      dnd-tools:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/5etools-mirror-3/5etools-src
              tag: 2.13.0
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 500Mi
            env:
              TZ: ${TIMEZONE}
    service:
      app:
        controller: dnd-tools
        ports:
          http:
            port: 80
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: mdi-dice
          gethomepage.dev/name: dnd-tools
          gethomepage.dev/group: Gaming
          gethomepage.dev/description: DnD 5e Tools
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:dice
          hajimari.io/appName: dnd-tools
        hosts:
          - host: &hostname dnd-tools.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *hostname
    # route:
    #   app:
    #     hostnames:
    #       - dnd-tools.${SECRET_DOMAIN}
    #     parentRefs:
    #       - name: envoy-internal
    #         namespace: networking
    #         sectionName: https
