---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: minecraft-cobblemon-restic
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: minecraft-cobblemon-restic-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/minecraft-cobblemon"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: volsync-restic-template
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecraft-cobblemon
spec:
  accessModes: ["ReadWriteOnce"]
  dataSourceRef:
    kind: ReplicationDestination
    apiGroup: volsync.backube
    name: minecraft-cobblemon-rdst
  resources:
    requests:
      storage: 10Gi
  storageClassName: ${CLUSTER_STORAGE_BLOCK}
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: minecraft-cobblemon-rdst
spec:
  trigger:
    manual: restore-once
  restic:
    repository: minecraft-cobblemon-restic-secret
    copyMethod: Snapshot
    accessModes: ["ReadWriteOnce"]
    storageClassName: ${CLUSTER_STORAGE_BLOCK}
    volumeSnapshotClassName: ${CLUSTER_SNAPSHOT_BLOCK}
    cacheAccessModes: ["ReadWriteOnce"]
    cacheCapacity: 8Gi
    cacheStorageClassName: ${CLUSTER_STORAGE_HOSTPATH}
    moverSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 568
    capacity: 10Gi # must match the PersistentVolumeClaim `.resources.requests.storage` size above
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: minecraft-cobblemon-rsrc
spec:
  sourcePVC: minecraft-cobblemon
  trigger:
    schedule: "15 */8 * * *"
  restic:
    pruneIntervalDays: 10
    repository: minecraft-cobblemon-restic-secret
    copyMethod: Snapshot
    accessModes: ["ReadWriteOnce"]
    storageClassName: ${CLUSTER_STORAGE_BLOCK}
    volumeSnapshotClassName: ${CLUSTER_SNAPSHOT_BLOCK}
    cacheAccessModes: ["ReadWriteOnce"]
    cacheCapacity: 8Gi
    cacheStorageClassName: ${CLUSTER_STORAGE_HOSTPATH}
    moverSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 568
    retain:
      daily: 10
      within: 3d
