---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless
  namespace: selfhosted
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: paperless-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Paperless
        PAPERLESS_ADMIN_USER: "{{ .PAPERLESS_ADMIN_USER }}"
        PAPERLESS_ADMIN_PASSWORD: "{{ .PAPERLESS_ADMIN_PASSWORD }}"
        PAPERLESS_SECRET_KEY: "{{ .PAPERLESS_SECRET_KEY }}"
        PAPERLESS_DBUSER: &dbUser "{{ .POSTGRES_USER }}"
        PAPERLESS_DBPASS: &dbPass "{{ .POSTGRES_PASS }}"
        PAPERLESS_DBHOST: &dbHost postgres-rw.databases.svc.cluster.local
        PAPERLESS_DBPORT: "5432"
        PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
          {
            "openid_connect": {
              "APPS": [
                {
                  "provider_id": "authelia",
                  "name": "Authelia",
                  "client_id": "{{ .PAPERLESS_OAUTH_CLIENT_ID }}",
                  "secret": "{{ .PAPERLESS_OAUTH_CLIENT_SECRET }}",
                  "settings": {
                    "server_url": "https://auth.${SECRET_DOMAIN_INTERNAL}/.well-known/openid-configuration"
                  }
                }
              ]
            }
          }
        # Postgres Init
        INIT_POSTGRES_DBNAME: paperless
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: paperless
    - extract:
        key: cloudnative-pg
    - extract:
        key: authelia
