---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: whoogle
  namespace: selfhosted
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  driftDetection:
    mode: enabled

  values:
    controllers:
      whoogle:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/benbusby/whoogle-search
              tag: 0.9.1
            env:
              # WHOOGLE_ALT_YT: invidious.${PRIVATE_DOMAIN}
              WHOOGLE_ALT_IG: imginn.com
              WHOOGLE_ALT_RD: reddit.${PRIVATE_DOMAIN}
              WHOOGLE_ALT_IMG: bibliogram.art
              WHOOGLE_ALT_MD: medium.${PRIVATE_DOMAIN}
              WHOOGLE_ALT_YT: youtube.${PRIVATE_DOMAIN}
              WHOOGLE_CONFIG_ALTS: 1
              WHOOGLE_CONFIG_COUNTRY: AU
              WHOOGLE_CONFIG_NEAR: Melbourne
              WHOOGLE_CONFIG_THEME: dark
              WHOOGLE_CONFIG_URL: https://whoogle.${PRIVATE_DOMAIN}/
            resources:
              requests:
                cpu: 10m
                memory: 100M
              limits:
                memory: 250M
    service:
      app:
        controller: whoogle
        ports:
          http:
            port: 5000
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          gethomepage.dev/enable: "true"
          gethomepage.dev/icon: mdi-google
          external-dns.alpha.kubernetes.io/target: external.${PRIVATE_DOMAIN}
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
