---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseer
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      jellyseer:
        containers:
          app:
            image:
              repository: docker.io/fallenbagel/jellyseerr
              tag: 2.7.3
            env:
              TZ: "${TIMEZONE}"
              LOG_LEVEL: "info"
              PORT: &port 8080
            resources:
              requests:
                cpu: 15m
                memory: 128M
              limits:
                memory: 512M
    persistence:
      config:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /app/config
            subPath: jellyseerr
    service:
      app:
        controller: jellyseer
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Media Requests
          gethomepage.dev/group: Media
          gethomepage.dev/icon: mdi-jellyfish-outline
          gethomepage.dev/name: Jellyseer
          gethomepage.dev/widget.type: jellyseerr
          gethomepage.dev/widget.url: http://jellyseer.media.svc.cluster.local:8080
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_JELLYSEER_API_KEY}}` }}"
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN_INTERNAL}
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:jellyfish-outline
          hajimari.io/appName: Requests
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
