---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shlink
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      shlink:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0
            envFrom: &envFrom
              - secretRef:
                  name: shlink-secret
        containers:
          app:
            image:
              repository: ghcr.io/shlinkio/shlink
              tag: 5.0.0@sha256:5bbedb6913b951f23428a61b581e7a22e33bdda0446455dfb4a598e57f15ff73
            env:
              DEFAULT_DOAPP: ${HOSTNAME}
              DISABLE_TRACKING_FROM: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
              ENABLE_PERIODIC_VISIT_LOCATE: "true"
              IS_HTTPS_ENABLED: "true"
              PORT: &port 8080
              REDIS_SERVERS: dragonfly.databases.svc.cluster.local
              TASK_WORKER_NUM: 4
              TIMEZONE: ${TIMEZONE}
              WEB_WORKER_NUM: 1
              SHELL_VERBOSITY: 3
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /rest/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              limits: &resources
                memory: 512Mi
              requests:
                <<: *resources
                cpu: 10m
        pod:
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: ${APP}
    service:
      app:
        controller: shlink
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Link Sharing
          gethomepage.dev/group: Tools
          gethomepage.dev/icon: shlink.png
          gethomepage.dev/name: Shlink
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      tmp-data:
        type: emptyDir
        globalMounts:
          - path: /etc/shlink/data
