---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
  namespace: media
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  driftDetection:
    mode: enabled

  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      navidrome:
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.55.2@sha256:3a66e262b7ea836faa06c08ad5b32076c49e9e63e2fa4de10080c8e9be9f0846
            env:
              TZ: "${TIMEZONE}"
              ND_DATAFOLDER: /config
              ND_ENABLEGRAVATAR: "true"
              ND_LOGLEVEL: info
              ND_MUSICFOLDER: /data/nfs-media/music
              ND_PORT: &port 8080
              ND_PROMETHEUS_ENABLED: "true"
              ND_REVERSEPROXYUSERHEADER: "Remote-User"
              ND_REVERSEPROXYWHITELIST: "10.244.0.0/16"
              ND_SCANSCHEDULE: "@every 1h"
              ND_SESSIONTIMEOUT: 24h
            envFrom:
              - secretRef:
                  name: navidrome-secret
            resources:
              requests:
                cpu: 15m
                memory: 128M
              limits:
                memory: 256M
    service:
      app:
        controller: navidrome
        ports:
          http:
            port: *port
        ipFamilyPolicy: PreferDualStack
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Music Library
          gethomepage.dev/group: Media
          gethomepage.dev/icon: navidrome.png
          gethomepage.dev/name: Navidrome
          external-dns.alpha.kubernetes.io/target: external.${PRIVATE_DOMAIN}
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"
    persistence:
      config:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
      media:
        existingClaim: nfs-media
        globalMounts:
          - path: /data/nfs-media
    resources:
      requests:
        cpu: 10m
        memory: 256M
      limits:
        memory: 512M
