---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app navidrome
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        supplementalGroups:
          - 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      navidrome:
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.59.0@sha256:4edc8a1de3e042f30b78a478325839f4395177eb8201c27543dccc0eba674f23
            env:
              TZ: "${TIMEZONE}"
              ND_DATAFOLDER: /config
              ND_ENABLEGRAVATAR: "true"
              ND_LOGLEVEL: info
              ND_MUSICFOLDER: /data/nfs-media/music
              ND_PORT: &port 8080
              ND_PROMETHEUS_ENABLED: "true"
              ND_REVERSEPROXYUSERHEADER: "Remote-User"
              ND_REVERSEPROXYWHITELIST: "10.244.0.0/16"
              ND_SCANSCHEDULE: "@every 1h"
              ND_SESSIONTIMEOUT: 24h
            envFrom:
              - secretRef:
                  name: navidrome-secret
            resources:
              requests:
                cpu: 15m
                memory: 128M
              limits:
                memory: 256M
    service:
      app:
        controller: navidrome
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN_INTERNAL}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Music Library
          gethomepage.dev/group: Media
          gethomepage.dev/icon: navidrome.png
          gethomepage.dev/name: Navidrome
    persistence:
      config:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
      media:
        existingClaim: nfs-media
        globalMounts:
          - path: /data/nfs-media
    resources:
      requests:
        cpu: 10m
        memory: 256M
      limits:
        memory: 512M
