---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
  namespace: security
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: pocket-id-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        ENCRYPTION_KEY: "{{ .POCKETID_ENCRYPTION_KEY }}"
        MAXMIND_LICENSE_KEY: "{{ .GEOIPUPDATE_LICENSE_KEY }}"
        # LDAP
        LDAP_BASE: "{{ .LLDAP_BASE_DN }}"
        LDAP_BIND_DN: "{{ .LLDAP_BIND_DN }}"
        LDAP_BIND_PASSWORD: "{{ .LLDAP_LDAP_BIND_PASS }}"
        LDAP_USER_SEARCH_FILTER: "{{ .LLDAP_USER_SEARCH_FILTER }}"
        # Database
        DB_CONNECTION_STRING: |-
          postgres://{{ .POSTGRES_USER }}:{{ .POSTGRES_PASS }}@postgres-rw.databases.svc.cluster.local/pocket-id
        # Postgres Init
        INIT_POSTGRES_DBNAME: pocket-id
        INIT_POSTGRES_HOST: postgres-rw.databases.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: pocket-id
    - extract:
        key: cloudnative-pg
    - extract:
        key: maxmind-geoip
    - extract:
        key: lldap
