---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pocket-id
  namespace: security
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
    controllers:
      pocket-id:
        labels:
          postgres: "true"
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
            envFrom: &envFrom
              - secretRef:
                  name: pocket-id-secret
        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v2.2.0@sha256:84d20a801692b9635f481522df2672a7aae522726c30953dae52e17fc2696b27
            env:
              TZ: ${TIMEZONE}
              ANALYTICS_DISABLED: true
              APP_URL: https://id.${SECRET_DOMAIN}
              DB_PROVIDER: postgres
              EMAILS_VERIFIED: true
              KEYS_STORAGE: database
              UI_CONFIG_DISABLED: true
              LDAP_ENABLED: true
              LDAP_URL: ldap://lldap.security.svc.cluster.local:3389
              LDAP_SKIP_CERT_VERIFY: true
              LDAP_USER_GROUP_SEARCH_FILTER: (&(objectClass=group)(cn=ID*))
              LDAP_ATTRIBUTE_USER_UNIQUE_IDENTIFIER: uuid
              LDAP_ATTRIBUTE_GROUP_UNIQUE_IDENTIFIER: uuid
              LDAP_ATTRIBUTE_USER_FIRST_NAME: givenName
              LDAP_ATTRIBUTE_USER_LAST_NAME: sn
              LDAP_ATTRIBUTE_USER_USERNAME: uid
              LDAP_ATTRIBUTE_USER_EMAIL: mail
              LDAP_ATTRIBUTE_GROUP_MEMBER: member
              LDAP_ATTRIBUTE_GROUP_NAME: cn
              LDAP_ADMIN_GROUP_NAME: lldap_admin
              SMTP_FROM: pocket-id@${SECRET_DOMAIN}
              SMTP_HOST: smtp-relay.networking.svc.cluster.local
              SMTP_PORT: 2525
              SESSION_DURATION: 43800
              TRUST_PROXY: true
              UPLOAD_PATH: /app/data/uploads
              GEOLITE_DB_PATH: /app/data/GeoLite2-City.mmdb
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 1411
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 256Mi
    service:
      app:
        controller: pocket-id
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "id.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/data
      tmpfs:
        type: emptyDir
        advancedMounts:
          pocket-id:
            app:
              - path: /tmp
                subPath: tmp
