---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-glados
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      wyoming-glados:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: nalf3in/wyoming-glados
              tag: latest@sha256:609a8fbf8d20f0e0cbd84fa2d41bbb1cff2590c95bd2bf9ba2d897c148eca8a0
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 100m
                memory: 128M
                nvidia.com/gpu: 1
              limits:
                memory: 1Gi
                nvidia.com/gpu: 1
    service:
      app:
        controller: wyoming-glados
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${WYOMING_GLADOS_LB_IP}
        ports:
          http:
            port: 10201
        ipFamilyPolicy: PreferDualStack
    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"
