---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
  namespace: security
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      lldap:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
            envFrom: &envFrom
              - secretRef:
                  name: lldap-secret
        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: 2024-01-08-debian-rootless@sha256:c4ac4941859836d3ccca572fb0a20f0b968bab1ca5e1b5a2eb3eb1ae5e0e10bc
            env:
              TZ: ${TIMEZONE}
              LLDAP_HTTP_PORT: &httpPort 8080
              LLDAP_LDAP_PORT: &ldapPort 3389
              LLDAP_LDAP_BASE_DN: dc=home,dc=arpa
              LLDAP_HTTP_URL: https://lldap.${SECRET_DOMAIN_INTERNAL}
              LLDAP_SMTP_OPTIONS__PORT: 2525
              LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: NONE
              LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: true
              LLDAP_SMTP_OPTIONS__FROM: LLDAP Admin <lldap@${SECRET_DOMAIN_INTERNAL}>
              LLDAP_SMTP_OPTIONS__SERVER: smtp-relay.networking.svc.cluster.local
            envFrom: *envFrom
            resources:
              requests:
                cpu: 5m
                memory: 36M
              limits:
                memory: 128M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: ${APP}
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/icon: mdi-account-lock
        hosts:
          - host: ${HOSTNAME}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - ${HOSTNAME}
    persistence:
      data:
        type: emptyDir
    service:
      app:
        controller: lldap
        ports:
          http:
            port: *httpPort
          ldap:
            port: *ldapPort
