---
machine:
  type: controlplane
  install:
    diskSelector:
      model: "Samsung SSD 980 500GB"
    image: factory.talos.dev/metal-installer/49dec2d91f152a19c65a7860e48cb585b6b6972c918273279ba4207a9a1b910d:v1.12.4
  nodeLabels:
    topology.kubernetes.io/zone: m
    node.kubernetes.io/intel-gpu: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-cp01

