---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname actual
  namespace: flux-system
spec:
  targetNamespace: selfhosted
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  dependsOn:
    - name: volsync
    - name: rook-ceph-cluster
  path: ./kubernetes/apps/selfhosted/actual/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: moneys.${SECRET_DOMAIN_INTERNAL}
      VOLSYNC_CLAIM: *appname
