---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-openwakeword
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      wyoming-openwakeword:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-openwakeword
              tag: 2.0.0
            args:
              - --preload-model
              - "ok_nabu"
              - --custom-model-dir
              - /custom
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 50m
                memory: 256M
              limits:
                memory: 512M
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: wyoming-openwakeword
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${WYOMING_OPENWAKEWORD_LB_IP}
          external-dns.alpha.kubernetes.io/hostname: openwakeword.${SECRET_DOMAIN_INTERNAL}
        ports:
          http:
            port: &port 10400
        ipFamilyPolicy: PreferDualStack
    # ingress:
    #   app:
    #     enabled: true
    #     className: internal
    #     hosts:
    #       - host: &host openwakeword.${SECRET_DOMAIN_INTERNAL}
    #         paths:
    #           - path: /
    #             service:
    #               identifier: app
    #               port: *port
    #     tls:
    #       - hosts:
    #           - *host
    persistence:
      custom:
        existingClaim: "${VOLSYNC_CLAIM}"
