---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      mealie:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: mealie-secret
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.3.2
            envFrom: *envFrom
            env:
              TZ: "${TIMEZONE}"
              # Light Mode Config
              THEME_LIGHT_PRIMARY: "#005AE6"
              THEME_LIGHT_ACCENT: "#FEBF00"
              THEME_LIGHT_SECONDARY: "#0DFC9D"
              THEME_LIGHT_SUCCESS: "#43A047"
              THEME_LIGHT_INFO: "#1976D2"
              THEME_LIGHT_WARNING: "#FF6D00"
              THEME_LIGHT_ERROR: "#EF5350"
              # Dark Mode Config
              THEME_DARK_PRIMARY: "#0097A7"
              THEME_DARK_ACCENT: "#007A99"
              THEME_DARK_SECONDARY: "#4ba3c7"
              THEME_DARK_SUCCESS: "#43A047"
              THEME_DARK_INFO: "#1976D2"
              THEME_DARK_WARNING: "#FF6D00"
              THEME_DARK_ERROR: "#EF5350"
              TOKEN_TIME: 720 # 24 hours * 30 days
              BASE_URL: "https://meals.${SECRET_DOMAIN_INTERNAL}"
              AUTO_BACKUP_ENABLED: true
              ALLOW_SIGNUP: false
              SMTP_HOST: smtp.${SECRET_DOMAIN_INTERNAL}
              SMTP_PORT: 2525
              SMTP_FROM_NAME: Recipes
              SMTP_FROM_EMAIL: "${SMTP_USER}"
              SMTP_AUTH_STRATEGY: "NONE"
              OIDC_AUTH_ENABLED: true
              OIDC_CONFIGURATION_URL: https://auth.${SECRET_DOMAIN_INTERNAL}/.well-known/openid-configuration
              OIDC_CLIENT_ID: mealie
              OIDC_AUTO_REDIRECT: true
              OIDC_ADMIN_GROUP: mealie_admins
              OIDC_USER_GROUP: mealie_users
              OIDC_REMEMBER_ME: true
            resources:
              requests:
                cpu: 5m
                memory: 250Mi
              limits:
                memory: 500Mi
    service:
      app:
        controller: mealie
        ports:
          http:
            port: 9000
    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /app/data
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Meal Recipes
          gethomepage.dev/group: Home
          gethomepage.dev/icon: mealie.png
          gethomepage.dev/name: Mealie
        hosts:
          - host: &host meals.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
