---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
  namespace: ai
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      ollama-ui:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: open-webui-secret
        pod:
          nodeSelector:
            nvidia.feature.node.kubernetes.io/gpu: "true"
          runtimeClassName: nvidia
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.6.43-cuda@sha256:638c7fc22387809728a8accef445788f05a4b11875bba0f8c2d0186659f84a92
            env:
              WEBUI_NAME: Ollama
              WEBUI_URL: https://${HOSTNAME}
              ENABLE_OLLAMA_API: true
              OLLAMA_BASE_URLS: "http://studio-pc.${SECRET_DOMAIN}:11434;http://lounge-pc.${SECRET_DOMAIN}:11434;http://ollama.ai.svc.cluster.local:11434"
              AUDIO_TTS_ENGINE: openai
              AUDIO_TTS_VOICE: glados
              AUDIO_TTS_MODEL: glados
              AUDIO_TTS_OPENAI_API_BASE_URL: https://glados.${SECRET_DOMAIN}
              AUDIO_TTS_OPENAI_API_KEY: sk-111111111111 # fake key needed to make ui happy
              # AUDIO_STT_ENGINE: openai
              # AUDIO_STT_OPENAI_API_BASE_URL: http://wyoming-whisper.home.svc.cluster.local:10300
              # AUDIO_STT_OPENAI_API_KEY: sk-111111111111 # fake key needed to make ui happy
              WHISPER_MODEL: medium
              RAG_EMBEDDING_ENGINE: ollama
              COMFYUI_BASE_URL: http://comfyui.ai.svc.cluster.local:8188
              VECTOR_DB: pgvector
              # OPENID_PROVIDER_URL: https://auth.${SECRET_DOMAIN}/.well-known/openid-configuration
              # OAUTH_PROVIDER_NAME: Authelia
              # ENABLE_OAUTH_SIGNUP: true
              # ENABLE_LOGIN_FORM: false
              # WEBUI_AUTH_TRUSTED_EMAIL_HEADER: Remote-Email
              # OAUTH_MERGE_ACCOUNTS_BY_EMAIL: true
              # OPENID_REDIRECT_URI: "https://open-webui.${SECRET_DOMAIN}/oauth/oidc/callback"
              ENABLE_RAG_WEB_SEARCH: true
              RAG_WEB_SEARCH_ENGINE: searxng
              SEARXNG_QUERY_URL: http://searxng.selfhosted.svc.cluster.local:8080/search?q=<query>
              WEBUI_SESSION_COOKIE_SAME_SITE: "lax"
              WEBUI_SESSION_COOKIE_SECURE: "True"
              # OAUTH_USERNAME_CLAIM: "preferred_username"
              ENABLE_WEBSOCKET_SUPPORT: "true"
              WEBSOCKET_MANAGER: "redis"
              WEBSOCKET_REDIS_URL: "redis://dragonfly.databases.svc.cluster.local:6379"
            envFrom:
              - secretRef:
                  name: open-webui-secret
            resources:
              requests:
                cpu: 200m
                memory: 2Gi
                nvidia.com/gpu: 1
              limits:
                memory: 4Gi
                nvidia.com/gpu: 1
    service:
      app:
        controller: ollama-ui
        ports:
          http:
            port: &port 8080
    route:
      app:
        hostnames:
          - chat.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: AI
          gethomepage.dev/name: Ollama
