---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: romm
  namespace: gaming
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: romm-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        ROMM_AUTH_SECRET_KEY: "{{ .ROMM_AUTH_SECRET_KEY }}"
        ROMM_AUTH_USERNAME: "{{ .ROMM_AUTH_USERNAME }}"
        ROMM_AUTH_PASSWORD: "{{ .ROMM_AUTH_PASSWORD }}"
        IGDB_CLIENT_ID: "{{ .IGDB_CLIENT_ID }}"
        IGDB_CLIENT_SECRET: "{{ .IGDB_CLIENT_SECRET }}"
        DB_HOST: &dbHost postgres-rw.databases.svc.cluster.local
        DB_NAME: &dbName "{{ .ROMM_POSTGRES_DBNAME }}"
        DB_USER: &dbUser "{{ .ROMM_POSTGRES_USER }}"
        DB_PASSWD: &dbPass "{{ .ROMM_POSTGRES_PASS }}"
        STEAMGRIDDB_API_KEY: "{{ .STEAMGRIDDB_API }}"
        MOBYGAMES_API_KEY: "{{ .MOBYGAMES_API }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        # OIDC
        OIDC_CLIENT_ID: "{{ .ROMM_CLIENT_ID }}"
        OIDC_CLIENT_SECRET: "{{ .ROMM_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: romm
    - extract:
        key: cloudnative-pg
