---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app romm
  namespace: gaming
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 1h

  values:
    controllers:
      romm:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: romm-secret
        containers:
          app:
            image:
              repository: rommapp/romm
              tag: 4.6.1
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 1024Mi
            env:
              TZ: ${TIMEZONE}
              ENABLE_SCHEDULED_RESCAN: true
              SCHEDULED_RESCAN_CRON: "0 3 * * *"
              ROMM_DB_DRIVER: postgresql
              DISABLE_DOWNLOAD_ENDPOINT_AUTH: true
              DISABLE_USERPASS_LOGIN: true
              HASHEOUS_API_ENABLED: true
              PLAYMATCH_API_ENABLED: true
              LAUNCHBOX_API_ENABLED: "true"
              ENABLE_RESCAN_ON_FILESYSTEM_CHANGE: "true"
              ENABLE_SCHEDULED_CONVERT_IMAGES_TO_WEBP: "true"
              ENABLE_SCHEDULED_RETROACHIEVEMENTS_PROGRESS_SYNC: "true"
              ENABLE_SCHEDULED_UPDATE_LAUNCHBOX_METADATA: "true" #chron set to 5m by default
              ENABLE_SCHEDULED_UPDATE_MAME_XML: "false"
              ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB: "false"
              RESCAN_ON_FILESYSTEM_CHANGE_DELAY: 5
              DB_PORT: 5432
              REDIS_HOST: dragonfly.databases.svc.cluster.local
              REDIS_PORT: 6379
              REDIS_DB: 5
              OIDC_ENABLED: true
              OIDC_PROVIDER: pocketid
              OIDC_REDIRECT_URI: https://romm.${SECRET_DOMAIN}/api/oauth/openid
              OIDC_SERVER_APPLICATION_URL: https://id.${SECRET_DOMAIN}
            envFrom:
              - secretRef:
                  name: romm-secret
    redis:
      enabled: false
      # redisPort: 6379
      # architecture: standalone
    service:
      app:
        controller: romm
        ports:
          http:
            port: &port 8080
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: mdi-controller-classic
          gethomepage.dev/name: Romm
          gethomepage.dev/group: Gaming
          gethomepage.dev/description: Retro Game Library
          hajimari.io/enable: "true"
          hajimari.io/icon: sh-romm.png
          hajimari.io/appName: Romm
    persistence:
      config:
        type: configMap
        name: romm-configmap
        globalMounts:
          - path: /romm/config/config.yml
            subPath: config.yml
            readOnly: true
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          romm:
            app:
              - path: /romm/resources
                subPath: resources
              - path: /romm/assets
                subPath: assets
      nginx-conf:
        type: emptyDir
        globalMounts:
          - path: /etc/nginx/conf.d
      tmpfs:
        type: emptyDir
        advancedMounts:
          romm:
            app:
              - path: /redis-data
                subPath: redis-data
              - path: /romm/config
                subPath: config
              - path: /tmp
                subPath: tmp
      library:
        type: nfs
        server: nas.${PUBLIC_DOMAIN}
        path: /mnt/tank/games
        globalMounts:
          - path: /romm/library
