---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: searxng
  namespace: selfhosted
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  interval: 15m

  values:
    controllers:
      searxng:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/searxng/searxng
              tag: 2024.6.30-39aaac40d
            env:
              SEARXNG_BASE_URL: https://search.${SECRET_DOMAIN_INTERNAL}
              SEARXNG_URL: https://search.${SECRET_DOMAIN_INTERNAL}
              SEARXNG_PORT: &httpPort 8080
              SEARXNG_REDIS_URL: redis://dragonfly.databases.svc.cluster.local:6379
            envFrom:
              - secretRef:
                  name: searxng-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 2G
    service:
      app:
        controller: searxng
        ports:
          http:
            port: *httpPort
    ingress:
      app:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: searxng.png
          gethomepage.dev/name: Searxng
          gethomepage.dev/group: Tools
          gethomepage.dev/description: Search Engine
        className: internal
        hosts:
          - host: &host search.${SECRET_DOMAIN_INTERNAL}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        type: configMap
        name: searxng-configmap
        globalMounts:
          - path: /etc/searxng/settings.yml
            subPath: settings.yml
            readOnly: true
          - path: /etc/searxng/limiter.toml
            subPath: limiter.toml
            readOnly: true
      tmpfs:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /etc/searxng
